<li class="%%GLOBAL_AlternateClass%%">
    <div class="ProductImage" data-product="%%GLOBAL_ProductId%%">
        %%GLOBAL_ProductThumb%%
    </div>
    <div class="OutOfStockMessage InfoMessage" style="%%GLOBAL_ItemSoldOut%%">
        %%SNIPPET_SideAddItemSoldOut%%
    </div>
    <div class="ProductActionAdd" onclick="location.href='%%GLOBAL_ProductLink%%';">
        <p><a href="%%GLOBAL_ProductLink%%" class="%%GLOBAL_SearchTrackClass%% pname">%%GLOBAL_ProductName%%</a></p>
        <p><em class="p-price">%%GLOBAL_ProductPrice%% USD</em></p>
        <a href="%%GLOBAL_ProductURL%%" class="btn icon-%%GLOBAL_ProductAddText%%" title="%%GLOBAL_ProductAddText%%">%%GLOBAL_ProductAddText%%</a>
    </div>
    
</li>