<form method="post" action="#" onsubmit="ExpressCheckout.ChooseShippingProvider(); return false;">
    <p>%%LNG_ExpressCheckoutSelectShippingProvider%%</p>
    %%GLOBAL_ShippingQuotes%%
    
    <!-- start chinese new year -->
    <!-- 
    <div class="NewYear" style="border-style:solid;padding-left: 10px;padding-right:  10px;padding-top: 10px;padding-bottom:  5px;">
        <p align="center"><span style="color: #000000;"><strong>IMPORTANT SHIPPING NOTE:</strong></p> 
        <p align="center">Our warehouse will be <span style="text-decoration: underline;"><strong>closed for shipping</strong></span> from <strong>Thursday 26 Jan - Thursday 2 Feb 2017</strong>, to celebrate Chinese New Year.</br> Any orders placed after 11:00am (<em>Australian Daylight Savings Time</em>) on Wednesday 25 Jan, will not be shipped until Friday 3 Feb 2017.</br> We apologise for any inconvenience caused by delayed shipments.</span><br /><span style="color: #000000;"><em>*Northern Hemisphere customers, please note that timing and dates are based on Australian Daylight Savings Time. </em></span></p>
    </div>
</br></br>
    -->
    <!-- end chinese new year -->
    
    <input type="submit" value="%%LNG_Continue%%" class="btn" />
    %%GLOBAL_DeliveryDisclaimer%%
</form>