<li style = "height:%%GLOBAL_ProductTinyBoxHeight%%px; width:%%GLOBAL_ProductTinyBoxWidth%%px;"  onclick="%%GLOBAL_TinyImageClickJavascript%%" onmouseover="%%GLOBAL_TinyImageOverJavascript%%" id="TinyImageBox_%%GLOBAL_ProductThumbIndex%%">
    <div class="TinyOuterDiv" style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
        <div style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
            <a href="javascript:void(0);" rel='{"gallery": "prodImage", "smallimage": "%%GLOBAL_ProductThumbImageURL%%", "largeimage": "%%GLOBAL_ProductZoomImageURL%%"}'><img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" style="padding-top:%%GLOBAL_TinyImageTopPadding%%px;" src="%%GLOBAL_ProductThumbImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" /></a>
        </div>
    </div>
</li>

<!--<img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" style="padding-top:%%GLOBAL_TinyImageTopPadding%%px;" width="%%GLOBAL_TinyImageWidth%%" height="%%GLOBAL_TinyImageHeight%%" src="%%GLOBAL_ProductTinyImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" />-->


