<div class="ProductThumbImage" style="width:%%GLOBAL_ProductThumbWidth%%px; height:%%GLOBAL_ProductThumbHeight%%px;">
    <img src="%%GLOBAL_ThumbImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" />
</div>
<!--<img src="%%GLOBAL_ThumbImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" />-->