    <dd class="ChooseCurrencyBox" style="%%GLOBAL_CurrencyFlagStyle%%">
        <a href="%%GLOBAL_CurrencySwitchLink%%" class="%%GLOBAL_CurrencySelected%%">
            <span class="Flag">%%GLOBAL_CurrencyFlag%%</span>
            <span class="Text">%%GLOBAL_CurrencyName%%</span>
        </a>
    </dd>