<!-- new<li>
    
    %%GLOBAL_ProductQuantity%% x %%GLOBAL_ProductName%%
    %%GLOBAL_ProductOptions%%
    %%GLOBAL_ProductAttributes%%
    <em class="ProductPrice">%%GLOBAL_ProductPrice%%</em>
     %%GLOBAL_ProductImage%%
</li> -->

<li>
    <table>
        <tr>
            <td width="10%">
                %%GLOBAL_ProductImage%%&nbsp;
            </td>
            <td width="30%">
                %%GLOBAL_ProductQuantity%% x <strong>%%GLOBAL_ProductName%%</strong>
                </br></br>
                <span class="productAttribute">%%GLOBAL_ProductAttributes%%</span>
                <!-- %%GLOBAL_ProductAttributeName%% %%GLOBAL_ProductAttributeValue%% -->
                </br>
                <strong>%%GLOBAL_ProductPrice%% USD</strong>
            </br>
            </td>
        </tr>
    </table>
</li>

<!-- code to remove parentheses in product attribute -->
<script>
    $(document).ready(function(){
    $("span.productAttribute").text(function(i, oldVal) {
    return oldVal.replace(/[()]/g,"");
    });
    });
</script> 