<li class="slides">
    <a href="%%GLOBAL_Slide_Link_Url%%">
        <div class="slide-content">
                <div class="slide-overlay">
                    <h2 class="slide-heading" style="color: %%GLOBAL_Slide_Heading_Color%%">%%GLOBAL_Slide_Heading_Text%%</h2>
                    <p class="slide-text" style="color: %%GLOBAL_Slide_Text_Color%%">%%GLOBAL_Slide_Text_Text%%</p>
                    <div class="slide-button" style="%%GLOBAL_Slide_Button_Hide%%"><span class="btn" style="color: %%GLOBAL_Slide_Button_Color%%">%%GLOBAL_Slide_Button_Text%%</span></div>
                </div>
                <span class="slide-image-wrapper">
                    <img class="slide-image" src="%%GLOBAL_Slide_Image_Url%%" alt="%%GLOBAL_Slide_Image_AlternateText%%">
                </span>
        </div>
    </a>
</li>