<li><a href="%%GLOBAL_SocialMedia_Service_Url%%" target="_blanck" class="icon-social%%GLOBAL_UseThemeSettingsClass%% icon-%%GLOBAL_SocialMedia_Service_Class%%" title="%%GLOBAL_SocialMedia_Service_Name%%">%%GLOBAL_SocialMedia_Service_Name%%</a></li>

