%%Panel.HTMLHead%%

    <body>
        <div class="page">
            
            <!-- MENU LANG -->
            <div><p></p>
                <p></p>
                <p></p></div>
            
            
              <div id="char" style="text-align:right">
               <!-- cart header <span style="border-style:solid"; id="ViewCartHover1">View Cart 1</span>
                <span style="border-style:solid"; id=""><a href="/cart.php">View Cart 2</a></span>
                
            <!--   DIV Kalang -->
                
                <div id="menuhover1" style="position: absolute; right: 50px; z-index: 99999; background: rgb(255, 255, 255); min-height: 40px; min-width: 385px; padding: 0px; max-height: 540px; max-width: 540px; border: 1px solid rgb(178, 178, 178); overflow-x: hidden; overflow-y: auto; display:none">
                    
                    
                    %%Panel.CartContent%%
                    
                </div>   
               
                
            </div>
                <!-- DIV Kalang -->
                <!-- MENU LANG -->
                
                
                <div class="header">
                    <div class="inner">
                        
                        <div id="AjaxLoading">
                            <div class="ajax-loader">
                                <img src="%%GLOBAL_IMG_PATH%%/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%
                            </div>
                        </div>
                        
                        <div class="TopMenu">
                            
                            <div class="menu-btn" id="menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div id="top-menu-1">
                                %%GLOBAL_HeaderLogo%%
                            </div>
                            
                            <div id="top-menu-2">
                                
                                
                                
                                
                                <div id="account-options-box">
                                    <ul id="home-item" class="sf-menu sf-horizontal">
                                        <li id="menu_first"><a href="/">Home</a></li>
                                    </ul> 
                                    %%Panel.SideCategoryList%%
                                    
                                    <ul style="display:%%GLOBAL_HidePurchasingOptions%%" class="sf-menu sf-horizontal ">
                                        
                                        
                                        
                                        %%Panel.PagesMenu%%
                                        
                                        <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                            <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                                        </li>
                                        
                                        <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                            <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                                        </li>

                                       
                                        <!-- <li id="ViewCartHover2"class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                            <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart1</a>
                                        </li> -->
                                        
                                        <li id="ViewCartHover3"class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                            <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                                        </li>
                                        
                                        
                                        <!-- <li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>-->
                                    </ul>
 
                                </div>
   
                            </div>
                            
                        </div>
                        
                        <!-- end -->
                        <!-- new -->
                        
                         
                        <div id="menuhover2" style="position: absolute;left: 65%;;z-index: 99999;background: rgb(255, 255, 255);min-height: 40px;min-width: 300px;/* padding: 20px 20px 0px; */max-height: 540px;max-width: 300px;border: 5px solid rgb(0, 0, 0);box-sizing: border-box;text-align: left;display: none;overflow-x: hidden;overflow-y: auto;padding-top: 20px;padding-bottom: 5px;">
                            %%Panel.SideCartContents%%
                            
                            <div style="display: %%GLOBAL_HideShoppingCartEmptyMessage%%">
                                <p class="InfoMessage">
                                    <strong>%%LNG_NoItemsInCart%%</strong>
                                </p>
                            </div>
                            
                        </div>
                        
                        <div id="menuhover3" style="position: absolute;left: 70%;z-index: 99999;background: rgb(255, 255, 255);min-height: 40px;min-width: 300px;/* padding: 20px 20px 0px; */max-height: 540px;max-width: 300px;box-sizing: border-box;text-align: left;display: none;overflow-x: hidden;overflow-y: auto;padding-top: 20px;padding-bottom: 5px;">
                            %%Panel.SideCartContents%%
                            
                            <div style="display: %%GLOBAL_HideShoppingCartEmptyMessage%%">
                                <p class="InfoMessage">
                                    <strong>%%LNG_NoItemsInCart%%</strong>
                                </p>
                            </div>
                            
                        </div>
                      <!--  new --> 
                        
            
            <div class="main">
        
                <div class="new-page-container">
                 
                    
                   
                    
                    <div class="Content" id="LayoutColumn2">
                        <div class="BlockContent PageContent">
                            
                          %%GLOBAL_PageContent%%
                            
                        </div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
