%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                
                <div id="mini-nav-bar">
                    <ul class="sf-menu sf-horizontal">
                        <li id="menu_first"><a href="/">Home</a></li>
                    </ul> 
                    %%Panel.SideCategoryList%%
                    <ul class="sf-menu sf-horizontal">
                        %%Panel.PagesMenu%%
                            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                            </li>
                    
                            <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                            </li>
                        
                            <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                            </li>
                            <li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>
                    </ul>
                </div>
                <div class="new-page-container">
                    %%Panel.WrapperBanner%%
                    
                    <div class="sub-page-list">
                        %%Panel.SideSubPageList%%
                    </div>
                    
                    <div class="Content" id="LayoutColumn2">
                        <div class="BlockContent PageContent">
                            <div class="grid">
                                <div class="grid__item contact-page one-half">
                                    %%GLOBAL_PageContent%%
                                </div>
                                <div class="grid__item contact-page one-half">
                                    <img src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/unnamed.jpg?t=1443554345">
                                    <div class="clear"></div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
