%%Panel.HTMLHead%%
    <body>
        <script type="text/javascript" src="%%GLOBAL_TPL_PATH%%/js/cart.js?%%GLOBAL_JSCacheToken%%"></script>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
               
                <div id="mini-nav-bar">
                    <ul class="sf-menu sf-horizontal">
                        <li id="menu_first"><a href="/">Home</a></li>
                    </ul> 
                    %%Panel.SideCategoryList%%
                    <ul class="sf-menu sf-horizontal">
                        %%Panel.PagesMenu%%
                            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                            </li>
                    
                            <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                            </li>
                        
                            <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                            </li>
                            <li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>
                    </ul>
                </div>
                <div class="inner">
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Panel.CartBreadcrumb%%
                        %%Panel.CartHeader%%
                        <div class="fullwidth">
                            %%Panel.CartStatusMessage%%
                            %%Panel.CartContent%%
                            %%Panel.SuggestiveCartContent%%
                            <div class="CartCode cf">
                                %%Panel.CartCouponCodeBox%%
                                <!-- %%Panel.CartGiftCertificateCodeBox%% -->
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
