%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                
               
                <div id="mini-nav-bar">
                    <ul class="sf-menu sf-horizontal">
                        <li id="menu_first"><a href="/">Home</a></li>
                    </ul> 
                    %%Panel.SideCategoryList%%
                    <ul class="sf-menu sf-horizontal">
                        %%Panel.PagesMenu%%
                            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                            </li>
                    
                            <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                            </li>
                        
                            <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                            </li>
                           <!-- <li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>-->
                    </ul>
                </div>
                
                    <div class="productlist-page">
                        %%Banner.TopBanner%%
                        
                        <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                        <div class="sub-page-list">
                        %%Panel.CategoryHeading%%
                        %%SNIPPET_SubCategories%%
                        </div>
                            <div class="product-nav">
                                %%SNIPPET_CategorySortBox%%
                                %%Panel.CategoryPagingTop%%
                                <div class="clear"></div>
                            </div>
                            %%Panel.CategoryContent%%
                        </div>
                        %%Banner.BottomBanner%%
                        <div class="clear"></div>
                    </div>

            </div>
            %%Panel.Footer%%
        </div>
        <script type="text/javascript">
            $(document).ready(function() {

                $(".ProductImage").hover(function() {
                    var image = $('img', this);
                    var product_slug = slugify(image.attr('alt'));
                    var next_image   = 'http://cdn3.bigcommerce.com/s-233ct/templates/__custom/hover/'+product_slug+'.jpg';
                    image.attr('original', image.attr('src'));
                    image.attr('src', next_image);
                }, function() {
                    var image = $('img', this);
                    image.attr('src', image.attr('original'));
                });
            });

            function slugify(text) {
                text = text.replace(/[^-a-zA-Z0-9,&\s]+/ig, '');
                text = text.replace(/\s/gi, "-");
                text = text.toLowerCase();
                text = text.replace(/-+/g, '-');

                return text;
            }
        </script>
    </body>
</html>