%%Panel.HTMLHead%%
    <body>
        <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/cart.js?%%GLOBAL_JSCacheToken%%"></script>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <h1 class="TitleHeading">%%LNG_SecureCheckout%%</h1>
                    <div class="Content Widest" id="LayoutColumn1">
                        <div class="full-width">
                            %%Panel.ConfirmOrder%%
                            
                           
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>