%%Panel.HTMLHead%%
<script type="text/javascript">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )     
{
   document.location = "/store/everything/";
}
</script>
    <body id="home">
        
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                
                <div id="mini-nav-bar">
                    
                    %%Panel.SideCategoryList%%
                    <ul class="sf-menu sf-horizontal">
                        %%Panel.PagesMenu%%
                            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                            </li>
                    
                            <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                            </li>
                        
                            <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                            </li>
                            <!-- Old Link now in contact us<li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>-->
                    </ul>
                </div>
                <div class="inner">
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Panel.HomeSlideShow%%
                        %%Banner.TopBanner%%
                        %%Banner.BottomBanner%%
                    </div>
                </div>
                %%Panel.SideCurrencySelector%%
                <div id="three-cols">
                
                    <div id="bottom-menu-1" class="bottom-menu-item">
                    <h2 id="new-arrivals-default">Come and be a part of our world @realisationpar</h2>
                    <!--%%Panel.SideNewProducts%%-->
                       
                        <div id="instafeed"><!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/cec4e658db215e628df0bf31417af45c.html" id="lightwidget_8c363f7dcd" name="lightwidget_8c363f7dcd"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
                    </div>
                
                </div>
                
                
            </div>
            %%Panel.Footer%%
            
            
            
        </div>
    </body>
</html>
<link rel="stylesheet" type="text/css" href="/template/Styles/magnific-popup.css">
            <script src="/template/Styles/jquery.magnific-popup.min.js"></script>
