%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                
                <div class="new-page-container">
                    %%Panel.WrapperBanner%%
                    
                    <div class="sub-page-list">
                        %%Panel.SideSubPageList%%
                    </div>
                    
                    <div class="Content" id="LayoutColumn2">
                        <div class="BlockContent PageContent">
                            <div class="grid">
                                <div class="grid__item one-half">
                                    %%GLOBAL_PageContent%%
                                </div>
                                <div class="grid__item one-half">
                                    <img src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/unnamed.jpg?t=1443554106">dfdsf
                                    <div class="clear"></div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
