%%Panel.HTMLHead%%
    <body class="productPage">
        <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/validate/jquery.validate.js?%%GLOBAL_JSCacheToken%%"></script>
        <script type="text/javascript" src="%%GLOBAL_TPL_PATH%%/js/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
        <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
            
           
                <div id="mini-nav-bar">
                    <ul class="sf-menu sf-horizontal">
                        <li id="menu_first"><a href="/">Home</a></li>
                    </ul> 
                    %%Panel.SideCategoryList%%
                    <ul class="sf-menu sf-horizontal">
                        %%Panel.PagesMenu%%
                            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                            </li>
                    
                            <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                                <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                            </li>
                        
                            <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                            </li>
                            <!--li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>-->
                    </ul>
                </div>
                        
                <div class="product-page-interior">
                    %%Panel.WrapperBanner%%
                    <!--
                    <hr>
                    %%Panel.ProductBreadcrumb%%
                    <hr>
                    -->
                    %%Panel.ProductDetails%%
                    %%Panel.ProductVideos%%
                    %%Panel.ProductWarranty%%
                    %%Panel.ProductOtherDetails%%
                    %%Panel.ProductReviews%%
                    <!--%%Panel.SimilarProductsByCustomerViews%%-->
                    <!--%%Panel.ProductVendorsOtherProducts%%-->
                      <!-- Instagram Shop This Feed--
                        <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="realisation-par" data-theme="slider_v2" data-cell-size="20%" data-for-url="true"></script><style>.fs-has-links {display:none;}.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 20% !important; padding-top: 20% !important; }.fs-desktop .fs-timeline-entry div.fs-text-container { display: flex; flex-direction: column;align-items: center; justify-content: center; display: -webkit-flex;  -webkit-flex-direction: column;  -webkit-align-items: center;  -webkit-justify-content: center;  display: -ms-flexbox;  -ms-flex-direction: column;  -ms-flex-align: center;  -ms-flex-pack: center; transition: opacity .25s; } .fs-desktop .fs-timeline-entry .fs-text-container:hover { opacity: 1; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-slider-next-button, .fs-slider-prev-button { opacity: 1; }.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 10px }</style>
                        <!-- Finish Instagram Shop This Feed-->
                    <div id="product-end-div">
                  
                    </div>
                    <div class="clear">
                    
                    </div>
                </div>
            </div>
            %%Panel.Footer%%

            <script type="text/javascript">

            $(document).ready(function() {
                if($('.videoRow').size() > 0) {
                    $('.videoRow').bind('click', function () {
                        var videoId = $(this).attr('id').replace('video_', '');
                        $('#FeaturedVideo').html('<object width="398" height="330">'
                            + '<param name="movie" value="http://www.youtube.com/v/' + videoId + '?fs=1"></param>'
                            + '<param name="allowFullScreen" value="true"></param>'
                            + '<param name="allowscriptaccess" value="always"></param>'
                            + '<embed src="http://www.youtube.com/v/'  + videoId + '?&fs=1&autoplay=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="398" height="330"></embed>'
                            + '</object>'
                            );
                        selectCurrentVideo(videoId);
                    });
                }
            });
            </script>
        </div>
    </body>
</html>