﻿<div class="Block Moveable Panel AccountOrderStatus" id="AccountOrderStatus">
    <h2>%%LNG_OrderStatus%%</h2>
    <div class="BlockContent">
        <div style="display:%%GLOBAL_HideOrderStatusList%%">
            <p class="InfoMessage">
                %%LNG_AccountOrderStatusIntro%%
            </p>

            <ul class="AccountOrderStatusList">
                %%SNIPPET_AccountOrderStatus%%
            </ul>
        </div>

        %%Panel.AccountOrderStatusPaging%%
        <p class="InfoMessage" style="display:%%GLOBAL_HideNoOrderStatusMessage%%">
            %%LNG_AccountOrderStatusNone%%
        </p>
    </div>
</div>



