<script type="text/javascript">
lang.InvalidQuantity = "%%LNG_InvalidQuantity%%";
lang.Calculating = "%%LNG_Calculating%%"
lang.CalculateShipping = "%%LNG_CalculateShipping%%"
lang.ChooseShippingMethod = "%%LNG_ChooseShippingMethod%%"
lang.CartRemoveConfirm = '%%LNG_CartRemoveConfirm%%';
lang.ConfirmRemoveGiftWrapping = '%%LNG_ConfirmRemoveGiftWrapping%%';
lang.SelectCountry = '%%LNG_ChooseShippingCountry%%';
lang.SelectState = '%%LNG_ChooseShippingState%%';
lang.EnterZip = '%%LNG_EnterShippingZip%%';
</script>
<script src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/imodal/imodal.js?%%GLOBAL_JSCacheToken%%" type="text/javascript"></script>
<div class="Block Moveable Panel" id="CartContent" >
    <div class="BlockContent">
        <div style="display: %%GLOBAL_HideShoppingCartGrid%%">
            <form enctype="multipart/form-data" onsubmit="return Cart.ValidateQuantityForm(this);" action="cart.php" name="cartForm" id="cartForm" method="post">
            <input type="hidden" name="action" value="update" />
            <table class="CartContents Stylize General" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th align="center" colspan="2">%%LNG_CartItems%%</th>
                        <th align="center">%%LNG_Qty%%</th>
                        <th align="center">%%LNG_ItemPrice%%</th>
                        <th align="center">%%LNG_HC_total%%</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="SubTotal">
               
                        <td colspan="5"><div>%%LNG_Subtotal%%&nbsp;<em class="ProductPrice">%%GLOBAL_CartItemTotal%% USD</em></div></td>
                        
                    </tr>
                    <tr class="SubTotal" style="%%GLOBAL_HideGiftWrappingTotal%%">
                        <td colspan="5"><div>%%LNG_GiftWrapping%%</div></td>
                        <td><div><em class="ProductPrice">%%GLOBAL_GiftWrappingTotal%% USD</em></div></td>
                    </tr>
                    %%SNIPPET_NormalCoupons%%
                    <tr class="SubTotal" style="%%GLOBAL_HideDiscountAmount%%">
                        <td colspan="5"><div>%%LNG_Discount%%</div></td>
                        <td><div><em class="ProductPrice">%%GLOBAL_DiscountAmount%% USD</em></div></td>
                    </tr>
                    <tr class="SubTotal estimate_shipping_tax" style="%%GLOBAL_HideShoppingCartShippingEstimator%%">
                        <td colspan="6">
                            <div>
                            <a href="#" class="EstimateShippingLink btn alt  btn-extra" onclick="ToggleShippingEstimation2(); return false;">%%LNG_CalculateShippingHandling%%</a>
                            <div class="EstimateShipping" style="display: none;">
                                
                                <dl class="form">
                                    <dt><span class="Required">*</span>&nbsp;%%LNG_Country%%:</dt>
                                    <dd>
                                        <select name="shippingZoneCountry" id="shippingZoneCountry" onchange="Cart.ToggleShippingEstimateCountry();">
                                            %%GLOBAL_ShippingCountryList%%
                                        </select>
                                    </dd>

                                    <dt><span class="Required" id="shippingZoneStateRequired">*</span>&nbsp;%%LNG_StateProvince%%:</dt>
                                    <dd>
                                        <select style="display: %%GLOBAL_ShippingHideStateList%%" name="shippingZoneState" id="shippingZoneState">
                                            %%GLOBAL_ShippingStateList%%
                                        </select>
                                        <input style="display: %%GLOBAL_ShippingHideStateBox%%" type="text" class="Textbox" name="shippingZoneStateName" id="shippingZoneStateName" value="%%GLOBAL_AddressState%%" />
                                    </dd>

                                    <dt><span class="Required">*</span>&nbsp;%%LNG_ZipPostcode%%:</dt>
                                    <dd><input type="text" class="Textbox" name="shippingZoneZip" id="shippingZoneZip" value="%%GLOBAL_ShippingZip%%" /></dd>
                                    <dd class="Submit EstimateShippingButtons">
                                        <input type="button" onclick="Cart.EstimateShipping();" value="%%LNG_CalculateShipping%%" class="btn alt  btn-extra" />
                                        <br>
                                        <a href="#" onclick="ToggleShippingEstimation2(); return false;" class="txt-link">%%LNG_Cancel%%</a>
                                    </dd>
                                </dl>

                                <div class="EstimatedShippingMethods" style="display: none;">
                                    <div class="ShippingMethodList">
                                    </div>
                                    
                                </div>
                            </div>
                            
                            </div>
                        </td>
                    </tr>
                    <tr style="display:%%GLOBAL_HideShoppingCartShippingCost%%" class="SubTotal">
                        <td colspan="5"><div>%%LNG_Shipping%% (%%GLOBAL_ShippingProvider%%)</div></td>
                        <td><div><em class="ProductPrice">%%GLOBAL_ShippingCost%%</em></div></td>
                    </tr>
                    %%SNIPPET_FreeShippingCoupons%%
                    <tr style="display: %%GLOBAL_HideShoppingCartHandlingCost%%" class="SubTotal">
                        <td colspan="5"><div>%%LNG_Handling%%</div></td>
                        <td><div><em class="ProductPrice">%%GLOBAL_HandlingCost%%</em></div></td>
                    </tr>
                    %%GLOBAL_Taxes%%
                    %%SNIPPET_GiftCertificates%%
                    <tr class="SubTotal gtotal">
                        <td colspan="6"><div>%%LNG_GrandTotal%% <em class="ProductPrice">%%GLOBAL_CartTotal%%</em></div></td>
                    </tr>
                    %%GLOBAL_InclusiveTaxes%%
                </tfoot>
                <tbody>
                    %%SNIPPET_CartItems%%
                </tbody>
            </table>
            <div style="display: none">
                <input class="btn btn-extra" type="submit" value="Update Cart" title="%%LNG_Update%%" />
            </div>
            </form>
            
            
            <div class="ProceedToCheckout pull-right">
            <div class="CheckoutButton" style="%%GLOBAL_HideCheckoutButton%%">
                <!-- <a class="btn" href="%%GLOBAL_CheckoutLink%%" onclick="" title="%%LNG_CheckoutButtonTitle%%">%%LNG_HC_proceedcheckout%%</a> -->
                <!-- <a class="btn" href="%%GLOBAL_CheckoutLink%%" onclick="" title="%%LNG_CheckoutButtonTitle%%">check out with credit card</a> convert to button-->
                <button style="width:250px" class="btn" onclick="window.location.href='%%GLOBAL_CheckoutLink%%'">Checkout Securely</button>
                <!-- end of new code-->
            </div>
            <div class="AlternativeCheckout" style="%%GLOBAL_HideMultipleAddressShipping%%">
<p class="PTB20"><span style="%%GLOBAL_HideMultipleAddressShippingOr%%"> %%LNG_or%% </span><a href="%%GLOBAL_ShopPath%%/checkout.php?action=multiple"><strong>%%LNG_CheckoutWithMultipleAddresses%%</strong></a></p>
            </div>
            %%GLOBAL_AdditionalCheckoutButtons%%
        </div>

        <div class="KeepShopping pull-left">
            <!-- <a href="%%GLOBAL_KeepShoppingLink%%" class="btn alt btn-extra">%%GLOBAL_KeepShoppingText%%</a> CONVERT TO BUTTON-->
            <button style="width:250px" class="btn" onclick="window.location.href='%%GLOBAL_KeepShoppingLink%%'">Continue Shopping</button>
            <!-- end of code -->
        </div>
        <div class="clear"></div>
            
        </div>
        
        <hr>
        
        <div class="clear"></div>
        <div style="display: %%GLOBAL_HideShoppingCartEmptyMessage%%">
            <p class="InfoMessage">
                <strong>%%LNG_NoItemsInCart%%</strong>
            </p>
            %%LNG_EmptyCartInfo%%
            <br /><br />
            <a href="%%GLOBAL_ShopPath%%/">%%LNG_ContinueShopping%%</a> %%LNG_OnThe%% %%GLOBAL_StoreName%% %%LNG_EmptyHomePage%%
        </div>
    </div>
</div>
