<div class="footer">

    <div class="container">
        <div class="footer-section3">
            <div id="search-box">
            %%Panel.HeaderSearch%%
            </div>
            %%Panel.SideNewsletterBox%%
        </div>
        <div class="footer-section1">%%Panel.SocialLinks%%</div>
        <div class="footer-section2">
            <p id="copyright"><a href="/terms-and-conditions/">Terms and Conditions</a> - © 2015 Réalisation</p>
        </div>
        
    </div>
</div>

<div class="mini-footer">

        <div class="mini-footer-section1">%%Panel.SocialLinks%%</div>
        <div class="mini-footer-section2">
            <p><a href="/terms-and-conditions/">Terms and Conditions</a> - © 2015 Réalisation</p>
        </div>
        <div class="mini-footer-section3">
        <a href="%%GLOBAL_ShopPath%%">%%GLOBAL_StoreName%%</a>
        </div>

   
</div>


<script>
$( "#mini-search-btn" ).click(function() {
  $( "#popup-search-box" ).slideToggle( "slow", function() {
    // Animation complete.
  });
});
</script>

<script type="text/javascript">
      
            $( document ).ready(function() {
    
              $("#currency-menu").remove();
            

              
              if($(".footer-section2 .pages-menu li").length > 3){
                  $(".bottomnavmenu1div").hide();
                  $(".footer-section2").css("padding-top","18px");
                }
                else{
                $(".bottomnavmenu2div").hide();
                }
              
              
            });
            
            
            $(".footer-section2 select").change(function(){
            //alert("changed");
            window.location.href = $(".footer-section2 option:selected").val();
            });
    
    
            $(document).ready(function() {
            
                $(".PayPalExpressCheckout input").attr("src","http://store-233ct.mybigcommerce.com/template/images/paypal-checkout-button.png");

                $retailPrice = $('span.ProductPrice.retail-product-price');

                if(!$retailPrice.is(':empty')) {
                    $retailPrice.append(' USD');
                }

                $('div.ProductDetails p em').append(' USD');
                
            });
            
    

   
</script>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%



%%GLOBAL_FooterScripts%%
%%GLOBAL_PinterestJS%%
%%SNIPPET_FastCartThickBoxJs%%

<script>
    $(document).ready(function () {
        $('.sf-with-ul').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        console.log('test');
        $(this).next('ul').toggleClass('show');
        });
    
    });
</script>

<!--START: OPTIMONK CODE-->
<script type="text/javascript">
    (function(e,a){
        var t,r=e.getElementsByTagName("head")[0],c=e.location.protocol;
        t=e.createElement("script");t.type="text/javascript";
        t.charset="utf-8";t.async=!0;t.defer=!0;
        t.src=c+"//front.optimonk.com/public/"+a+"/js/preload.js";r.appendChild(t);
    })(document,"14478");
</script>
<!--END: OPTIMONK CODE-->
           
      