<div id="currency-menu">
    <div class="currency-box">
        %%Panel.SideCurrencySelector%%
        
        <a class="btn btn-extra2" id="currency-select" href="#" style="display:none">CHOOSE</a>
    </div>
</div>
<div class="header">
    <div class="inner">

        <div id="AjaxLoading">
            <div class="ajax-loader">
                <img src="%%GLOBAL_IMG_PATH%%/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%
            </div>
        </div>

        %%GLOBAL_MaintenanceNotice%%
        %%Panel.TopMenuForTesting%%
    </div>
</div>

