<div id="currency-menu">
    <div class="currency-box">
        %%Panel.SideCurrencySelector%%
        
        <a class="btn btn-extra2" id="currency-select" href="#" style="display:none">CHOOSE</a>
    </div>
</div>
<div class="header">
    <div class="inner">

        <div id="AjaxLoading">
            <div class="ajax-loader">
                <img src="/template/images/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%
            </div>
        </div>
        %%GLOBAL_MaintenanceNotice%%
        %%Panel.TopMenu%%
                    
    </div>
    <!-- START: CART HOVER OVER -->
    <div id="menuhover3" style="position: absolute;left: 70%;z-index: 99999;background: rgb(255, 255, 255);min-height: 40px;min-width: 300px;/* padding: 20px 20px 0px; */max-height: 540px;max-width: 300px;box-sizing: border-box;text-align: left;display: none;overflow-x: hidden;overflow-y: auto;padding-top: 20px;padding-bottom: 5px;">
        %%Panel.SideCartContents%%
    </div>
    <!-- END: CART HOVER OVER -->
</div>





