<script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/jquery.flexslider.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>
<script type="text/javascript">
    $(function() {
    /*$('.flexslider').flexslider({
            slideshow:false,
            slideshowSpeed: $('.flexslider').attr('data-swap-frequency') * 1000,
            animation: "slide",
              controlsContainer: ".flex-container",
            pauseOnHover: true,
            controlNav: true,
            directionNav: true
    });*/
    
    var time = $('.flexslider').attr('data-swap-frequency') * 1000;
    $('.flexslider').slick({
        arrows:false,
        dots: false,
        autoplay:true,
        autoplaySpeed:time,
        speed: 1000,
        adaptiveHeight: true
    });
    });
</script>