<!--InstockAlert popup-->
<script type="text/javascript">
jQuery(document).ready(function(){
  var instockObj = {
    vars:{
        sku:'',
        url:'//instockalerts.co/instocka_app/client-insert'    
    },
    inst_1:function(){
        var notify='%%GLOBAL_DisplayAdd%%';
        var flag = (notify == 'none')?false:true;
        if(flag){
            $('#notify').hide();
            $('#instock-notify-box .instock-form').hide();
        }else{
            $('#notify').show();
            $('#instock-notify-box .instock-form').show();
        }
    },
    inst_2:function(){
          jQuery('.popup-with-form').magnificPopup({
              type: 'inline',
              preloader: false,
              focus: '#mail',
              callbacks: {
              beforeOpen: function() {
                      if(jQuery(window).width() < 700) {
                          this.st.focus = false;
                      } else {
                          this.st.focus = '#mail';
                      }
                  },
                  close: function() {
                    $('.form-popup-msg').hide();
                    $('.form-popup-msg .msg').html('<img src="/template/Styles/ajax-loader.gif" />');
                  }
              }
          });
    },
    inst_3:function(){
        jQuery( "#instock-subscribe-popup" ).submit(function( event ) {
            event.preventDefault();
            instockObj.tosend();
        });
        jQuery('#instock-subscribe').on('click',function(){
            $('.msg-content .msg').html('<img src="/template/Styles/ajax-loader.gif" />');
            email = $('#mail').val();
            if(instockObj.validateEmail(email)){
                instockObj.tosend();
            }else{
                alert('invalid email');
                $('#mail').val('');
                $('#mail').focus();
            }
        });
        jQuery('.msg-content .msg').on('click',function(){
            $('.form-popup-msg').hide();
        });
    },
    tosend:function(){
        var mail = $('#mail').val();
        var fname = $('#FNAME').val();
        var lname = $('#LNAME').val();
        var product_id = $('#product_id').val();
        var product_stock = $('#product_stock').val();
        var product_title = $('#product_title').val();
        var store_url = instockObj.replacehttp($('#store_url').val());
        var params = 'first_name='+fname+'&last_name='+lname+'&email='+mail+'&product_id='+product_id+'&product_stock='+product_stock+'&product_title='+product_title+'&store_url='+store_url+'&option_sku='+this.vars.sku;
        var url = this.vars.url;
        var valida = false;
        if(!valida){ 
            instockObj.senddata(url,params);
        }else{
          $('.form-popup-msg').show();
          var noconnect = "Cannot connect to server<small style='text-transform:none;display:block;'>if current url has 'https' maybe can work replacing this one with 'http'</small>";
          setTimeout(function(){ $('.form-popup-msg .msg').html(noconnect);},700);
        } 
    },
    replacehttp:function(str){
        var patt = /http:\/\/|https:\/\//g;
        var result = str.replace(patt,'');
        return result;
    },
    validateString:function(str){
        var patt = /https:\/\//g;
        var result = patt.test(str);
        return result;
    },
    validateEmail:function(email) { 
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    },
    senddata:function(url,params){//only work with http
        var Url=url;
        var Params=params;
        $('.form-popup-msg').show();
        $.ajax({
            type: 'GET',
            url: Url,
            data:Params,
            async: true,
            jsonpCallback: 'jsonp_callback',
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(r) {
                $('.form-popup-msg .msg').html(r.msg);
                $('.instock-form #mail').val('');
            },
            error: function(e) {
                alert(e.message);
            }
        });
    }, 
    optionAttrs:function(attr_id,index){//array , number
        var prod_id = $('#product_id').val();
        data='product_id='+prod_id+'&'+attr_id[index].name+'='+attr_id[index].id+'&w=getProductAttributeDetails';
        $.ajax({
            url: '/remote.php',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                var stock = response.details.instock || false;
                if(stock == true){
                    return false;
                }
                var next = index+1;
                if(typeof attr_id[next] != 'undefined'){
                  instockObj.optionAttrs(attr_id,next);
                }else{
                  $('#instock-notify-box .instock-form').show();
                  $('#notify').show();
                  return false;
                }
            }
        });   
    },
    options:function(){//loop for single option
        if($('.productAttributeList .productAttributeRuleCondition').length > 0){
            var arr_ids = [];
            $('#productDetailsAddToCartForm .validation').each(function(){
                arr_ids.push({'id':$(this).val(),'name':$(this).attr('name')});
            });
            instockObj.optionAttrs(arr_ids,0);
        }else{
            //console.log('no attributes');
        }
    },
    timeuse:false,
    timeout:function(){
        if(instockObj.timeuse==true){
            setTimeout(function(){instockObj.options();},500);
        }
    },
    formshow:function(details){
        var stock = details.instock;
        instockObj.vars.sku = details.sku;
        if(stock == false){
            $('#instock-notify-box .instock-form').show();
            $('#notify').show();
        }else{
            $('#instock-notify-box .instock-form').hide();
            $('#notify').hide();
        }
    },
    init:function(){
        instockObj.inst_1();
        instockObj.inst_2();
        instockObj.inst_3();
    }
  }
  instockObj.init();
  $.fn.productOptionRuleCondition = function (options) {
		return this.each(function(){
			$(this)
				.addClass('productAttributeRuleCondition')
				.find(':input')
				.change(function(){
                    var data = null;
                    if($('#productDetailsAddToCartForm').length) {
                        data = $('#productDetailsAddToCartForm').serializeArray();
                    } else {
                        data = $('.productAttributeList:first').closest('form').serializeArray();
                    }
					data.push({
						name: 'w',
						value: 'getProductAttributeDetails'
					});
					data = $.param(data);
					$.ajax({
						url: '/remote.php',
						type: 'POST',
						dataType: 'json',
						data: data,
						success: function (response) {
							if (response.success && response.details) {
							    instockObj.formshow(response.details);
                                if($('#ProductDetails').length) {
                                    $('#ProductDetails').updateProductDetails(response.details);
                                }
                                else {
                                    $('.productAttributeList:first').updateProductDetails(response.details);
                                }
							}
						}
					});
				});
		});
	};
})
</script>
<!--InstockAlert popup end-->