%%Panel.HTMLHead%%
    <body>
        <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/validate/jquery.validate.js?%%GLOBAL_JSCacheToken%%"></script>
        <script type="text/javascript" src="%%GLOBAL_TPL_PATH%%/js/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
        <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.ProductBreadcrumb%%
                    %%Panel.ProductDetails%%
                    %%Panel.ProductVideos%%
                    %%Panel.ProductWarranty%%
                    %%Panel.ProductOtherDetails%%
                    %%Panel.ProductReviews%%
                    %%Panel.SimilarProductsByCustomerViews%%
                   %%Panel.ProductVendorsOtherProducts%% 
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
