<link rel="stylesheet" type="text/css" href="%%GLOBAL_CdnAppPath%%/javascript/jquery/themes/cupertino/ui.all.css?%%GLOBAL_JSCacheToken%%" />
<link rel="stylesheet" type="text/css" media="screen" href="%%GLOBAL_productAttributesCssPath%%?%%GLOBAL_JSCacheToken%%" />
<script type="text/javascript" src="%%GLOBAL_jQueryUIPath%%"></script>
<script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/jquery.form.js?%%GLOBAL_JSCacheToken%%"></script>
<script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/product.attributes.js?%%GLOBAL_JSCacheToken%%"></script>
<script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/jCarousel/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
%%SNIPPET_ProductImageZoomer%%

<script type="text/javascript">//<![CDATA[
var ThumbURLs = new Array();
var ProductImageDescriptions = new Array();
var CurrentProdThumbImage = %%GLOBAL_CurrentProdThumbImage%%;
var ShowVariationThumb =false;
var ProductThumbWidth = %%GLOBAL_ProductThumbWidth%%;
var ProductThumbHeight =  %%GLOBAL_ProductThumbHeight%%;
var ProductMaxZoomWidth = %%GLOBAL_ProductMaxZoomWidth%%;
var ProductMaxZoomHeight =  %%GLOBAL_ProductMaxZoomHeight%%;
var ProductTinyWidth = %%GLOBAL_ProductMaxTinyWidth%%;
var ProductTinyHeight =  %%GLOBAL_ProductMaxTinyHeight%%;

%%GLOBAL_ProdImageJavascript%%

//Don't enable Cloud Zoom (product image zoom) on touch device
//Mouseenter/Mouseover events are not ideal for touch devices
//for more info search for this code in /script/main.js
if (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0)){
    var ShowImageZoomer = false;
} else {
    var ShowImageZoomer = %%GLOBAL_ShowImageZoomer%%;
}

var productId = %%GLOBAL_ProductId%%;
//]]></script>
%%Discount.FreeShippingEligibility%%
<div class="Block Moveable Panel PrimaryProductDetails no-ptop" id="ProductDetails">
    <div class="BlockContent">
        %%GLOBAL_ProductDetailFlashMessages%%
        <!-- left-content -->
        <div class="left-content">
            <div class="ProductThumb" style="%%GLOBAL_HideProductThumb%%">
                %%GLOBAL_LightBoxImageJavascript%%
                %%SNIPPET_ProductThumbImage%%
                <div class="ImageCarouselBox" style="%%GLOBAL_HideImageCarousel%%">
                    <a id="ImageScrollPrev" class="prev" href="#"><img src="%%GLOBAL_IMG_PATH%%/LeftArrow.png" alt="" width="20" height="20" /></a>
                    <div class="ProductTinyImageList">
                        <ul>
                            %%SNIPPET_ProductTinyImages%%
                        </ul>
                    </div>
                    <a id="ImageScrollNext" class="next" href="#"><img src="%%GLOBAL_IMG_PATH%%/RightArrow.png" alt="" width="20" height="20" /></a>
                </div>
                <div style="%%GLOBAL_HideMorePicturesLink%%" class="SeeMorePicturesLink">
                    <a href="#" onclick="%%GLOBAL_TinyImageClickJavascript%% return false;" class="ViewLarger">%%GLOBAL_SeeMorePictures%%</a>
                </div>
            </div>
            %%GLOBAL_PinterestButton%%
        </div>
        <!-- Product Details Content -->
        <div class="ProductMain">
            <div class="ProductDetailsGrid">
                <div class="DetailRow">
                    
                    <h1>%%GLOBAL_ProductName%%</h1>
                    
                  
                </div>
                <div class="DetailRow" style="display: %%GLOBAL_HideRating%%">
                    <div class="Value">
                        <span>
                            <img  src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_Rating%%.png" alt="" />
                            <span style="display:%%GLOBAL_HideReviewLink%%">
                                <a href="#ProductReviews" onclick="%%GLOBAL_ReviewLinkOnClick%%">
                                    %%GLOBAL_ReviewLinkText%%
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
                
                
                
                
                
                <div class="DetailRow PriceRow p-price" style="%%GLOBAL_HidePrice%%">
                    <div class="Value">
                        <span class="ProductPrice retail-product-price">%%GLOBAL_RetailPrice%%</span>
                        <span class="ProductPrice VariationProductPrice">%%GLOBAL_ProductPrice%% USD</span>
                    </div>
                </div>
                <div class="s-price">
                    %%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
                </div>
                
                 
            </div>
           
              
            %%GLOBAL_FacebookLikeButtonAbove%%
               
            <div class="clear"></div>

            %%Panel.ProductTabs%%

            %%SNIPPET_ProductAddToCartRight%%
            <div style="float:left;"><script type="text/javascript" data-pp-pubid="d63bd59a3a" data-pp-placementtype="300x50">
$.getJSON('https://freegeoip.net/json/') 
   .done (function(location)
   {
        if (location.country_code == "US")
        {
           (function (d, t) {
               "use strict";
               var s = d.getElementsByTagName(t)[0], n = d.createElement(t);
               n.src = "//paypal.adtag.where.com/merchant.js";
               s.parentNode.insertBefore(n, s);
               }(document, "script"));         
        }
   })
</script>
</div>
     <div class="clear"></div>
            %%SNIPPET_ProductExpectedReleaseDate%%
            
            
            
             %%Panel.ProductDescription%%
            
            
            
           <div class="clear"></div>
          
            %%GLOBAL_FacebookLikeButtonBelow%%
        </div>
            
        %%SNIPPET_ProductAddToCartBelow%%

        <div class="clear">

        </div>

        
            
            <!-- Panel.ProductVendorsOtherProducts -->


    </div>
</div>
