    <div class="Block Moveable Panel CurrencyChooser" id="SideCurrencySelector"> 
    
    <!--<h3>%%LNG_CurrencyConverter%%</h3>-->
       <img src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/logo-r.png?t=1428685532" alt="Réalisation">
   <div> <div class="BlockContent"> 
       <!-- <p> Where in the world are you?</p> -->
       <div id="CurrencyListChoose">
        <dl class="CurrencyList">
            %%SNIPPET_ChooseCurrencyList%%
        </dl>
           </div>
    </div>
      
    </div>
</div>
