<div class="Block Moveable Panel SideCart" id="SideCartContents" style="display:%%GLOBAL_HidePurchasingOptions%%%%GLOBAL_HideCartOptions%%; %%GLOBAL_HideSideCart%%">
    <!-- <h2>%%LNG_YourShoppingCart%%</h2> -->
    <!-- <center><h2><em>%%LNG_YourShoppingCart%%</em><h2></center> -->
    <center><em><span style="font-size:18px">Your Shopping Cart</span></em></center>
    <div class="BlockContent">
        <!-- 1-->
        <p class="ProductList">
            %%SNIPPET_SideCartItems%%
        </p>
        <!--<p class="clear" style="padding-top: 10px;">
        <a href="%%GLOBAL_ShopPathNormal%%/cart.php" class="ViewCartLink">%%LNG_ViewCart%%</a>
        %%SNIPPET_SideCartContentsCheckoutLink%%
    </p>
        
        <center><a href="%%GLOBAL_CheckoutLink%%"  onclick="" class="CheckoutLink">%%LNG_Checkout%%</a></center>
        
        --> 
        <center><button style="width:280px" class="btn" onclick="window.location.href='%%GLOBAL_CheckoutLink%%'">%%LNG_Checkout%%</button></center>  
    <!--<p class="clear" style="padding-top: 10px;">
        %%GLOBAL_AdditionalCheckoutButtons%%
    </p>-->  
    </div>
    
    <!-- DISABLED 
    <div style="display: %%GLOBAL_HideShoppingCartEmptyMessage%%">
        <p class="InfoMessage">
            <strong>There are no products in your cart.</strong>
        </p>
    </div>  -->
</div>

<!-- 1
<p>
    <span class="cartCount">
        %%GLOBAL_SideCartItemCount%%
    </span>
    <span class="cartCost">
        %%LNG_SideCartTotalCost%%
    </span>
</p>
-->