<div id="socnet" class="Block SocialConnect Moveable Panel">
    <ul>
        %%SNIPPET_SocialLinks%%
        <li><a href="http://Pinterest.com/realisationpar" target="_blank" class="icon-social%%GLOBAL_UseThemeSettingsClass%% icon-pinterest"></a></li>
        <li><a href="https://instagram.com/realisationpar/" target="_blank" class="icon-social%%GLOBAL_UseThemeSettingsClass%% icon-instagram"></a></li>
        <li><a href="mailto:talktomebaby@realisationpar.com" class="icon-social%%GLOBAL_UseThemeSettingsClass%% icon-mail"></a></li>
    </ul>
</div>