    
<div class="TopMenu">
    
    <div class="menu-btn" id="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        <div id="top-menu-1">
        %%GLOBAL_HeaderLogo%%
        </div>
    
        <div id="top-menu-2">
        
        
            
            
            <div id="account-options-box">
                <ul id="home-item" class="sf-menu sf-horizontal">
                    <li id="menu_first"><a href="/">Home</a></li>
                </ul> 
                %%Panel.SideCategoryList%%
                
                <ul style="display:%%GLOBAL_HidePurchasingOptions%%" class="sf-menu sf-horizontal ">

                    %%Panel.PagesMenu%%
                  
                    <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                        <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                    </li>
                    
                    <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                        <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                    </li>
                    <!-- added ID ViewCartHover3 -->
                    <li id="ViewCartHover3" class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                        <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">Cart</a>
                        
                        
                    </li>
                   <!-- <li  id="menu_last"><a href="mailto:talktomebaby@realisationpar.com">Ask me anything</a></li>-->
                </ul>
                
            
            </div>
 
            
            <div id="account-options-box-mini">
            
            <ul style="display:%%GLOBAL_HidePurchasingOptions%%">
                <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                <a href="%%GLOBAL_ShopPath%%/account.php"><img src="%%GLOBAL_TPL_PATH%%/images/aberdeen-icon-user.png"></a>
                </li>
            
                <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                <a href="%%GLOBAL_ShopPath%%/wishlist.php"><img src="%%GLOBAL_TPL_PATH%%/images/aberdeen-icon-wishlist.png"></a>
                </li>
                
                <li class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%"><img src="%%GLOBAL_TPL_PATH%%/images/aberdeen-icon-cart.png"></a>
                </li>
                
                <li>
                <img id="mini-search-btn" src="%%GLOBAL_TPL_PATH%%/images/aberdeen-icon-search.png">
                </li>
            </ul>
            
            </div>
        
        </div>
        
        <!--<div id="top-menu-3">
        </div>-->
        
        <div id="popup-search-box">
        %%Panel.HeaderSearch%%
        </div>
     
</div>



