<h3><span style="font-family: 'times new roman', times;">%%LNG_AC_ContactDetailsSubheading%%</span></h3>
<p><span style="font-family: 'times new roman', times;">Existing Customer? %%GLOBAL_AC_ExistingCustomer%%</span></p>
<p><span style="font-family: 'times new roman', times;">Name: %%GLOBAL_AC_CustomerName%%</span><br /><span style="font-family: 'times new roman', times;"> Email: %%GLOBAL_AC_CustomerEmail%%</span><br /><span style="font-family: 'times new roman', times;"> Phone: %%GLOBAL_AC_CustomerPhone%%</span><br /><span style="font-family: 'times new roman', times;"> Address: %%GLOBAL_AC_CustomerAddress%%</span><br /><span style="font-family: 'times new roman', times;"> Date %%GLOBAL_AC_ModifiedType%%: %%GLOBAL_AC_DateModified%%</span><br /><span style="font-family: 'times new roman', times;"> Total value when abandoned: %%GLOBAL_AC_ValueWhenAbandoned%%</span></p>
<h3><span style="font-family: 'times new roman', times;">%%LNG_AC_CartContentsSubheading%%</span></h3>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_AC_CartContents%%</span></p>
<p><span style="font-family: 'times new roman', times;"><strong>Current base product prices are shown</strong></span></p>
<hr />