<div style="padding: 0 10px 10px 0; border: 0; width: 50px;"><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ProductUrl%%"> <img style="width: 50px;" src="%%GLOBAL_ProductThumbnailUrl%%" alt="%%GLOBAL_ProductName%%" /> </a></span></div>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_ProductQuantity%% x <a href="%%GLOBAL_ProductUrl%%">%%GLOBAL_ProductName%%</a></span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_ProductPrice%% USD each</span></p>