<div style="background: #fff1a8; padding: 10px; margin: 20px 0px 20px 0px;"><span style="font-family: 'times new roman', times;">%%LNG_AC_CouponCodeBeforeText%%<strong>%%GLOBAL_AC_CouponCode%%</strong>%%LNG_AC_CouponCodeAfterText%%%%GLOBAL_AC_CouponCodeText%%</span></div>