<p style="margin-top: 12px;"><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_StoreName%%</strong> </span><br /><span style="font-family: 'times new roman', times;"> <a href="%%GLOBAL_ShopPathNormal%%/">%%GLOBAL_ShopPathNormal%%/</a></span></p>
<hr style="height: 1px; border-style: none; color: #444; background: #000; margin-top: 8px;" size="1" />
<div style="font-size: 11px; color: #444;"><span style="font-family: 'times new roman', times;">%%GLOBAL_StoreName%% is powered by Bigcommerce. <a href="http://www.bigcommerce.com/">Launch your own store for free</a> with Bigcommerce.</span></div>