<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap"><span style="font-family: 'times new roman', times;">%%LNG_CartItems%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="100"><span style="font-family: 'times new roman', times;">%%LNG_SKU%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="100"><span style="font-family: 'times new roman', times;">%%LNG_Qty%%</span></td>
<td style="font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="150"><span style="font-family: 'times new roman', times;">%%LNG_ItemPrice%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" align="right" nowrap="nowrap" width="200"><span style="font-family: 'times new roman', times;">%%LNG_ItemTotal%%</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>