<p><span style="font-family: 'times new roman', times;">&nbsp;</span></p>
<div style="width: 100%; padding: 10px; background-color: #ffefef;"><span style="font-family: 'times new roman', times;"><img src="%%GLOBAL_IMG_PATH%%/IcoError.gif" alt="" />&nbsp; %%LNG_InvoicePendingPaymentText%%</span></div>