<table style="border: 1px solid #c7d7db; width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;"><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_ProductName%%</strong> %%GLOBAL_ProductOptions%% %%GLOBAL_ProductAttributes%% </span><br /><span style="font-family: 'times new roman', times;"> %%GLOBAL_ExpectedReleaseDate%%%%GLOBAL_CartProductFields%%</span><span style="font-family: 'times new roman', times;">%%GLOBAL_EventDate%%</span></td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" width="100"><span style="font-family: 'times new roman', times;">%%GLOBAL_ProductQuantity%%</span></td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" width="150"><span style="font-family: 'times new roman', times;">%%GLOBAL_ProductPrice%% USD</span></td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="right" width="200"><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_ProductTotal%%</strong></span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>