<h3 style="font-size: 18px;"><span style="font-family: 'times new roman', times;">%%LNG_HeresHowtoPayforYourOrderUC%%</span></h3>
<div style="font-size: 12px;"><span style="font-family: 'times new roman', times;">%%LNG_PayForYourOrderHelp%%: </span><br /><br /><span style="font-family: 'times new roman', times;"> %%LNG_YourOrderTotalIs%% %%GLOBAL_PaymentGatewayAmount%% </span><br /><br /><span style="font-family: 'times new roman', times;"> %%GLOBAL_PaymentMessage%%</span></div>