<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px;" align="right"><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_label%%:</strong></span></td>
<td style="font-family: Arial; font-size: 12px;" align="right" width="100"><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_value%%</strong></span></td>
</tr>
</tbody>
</table>
<p><span style="font-family: 'times new roman', times;">&nbsp;</span></p>