<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap"><span style="font-family: 'times new roman', times;">%%GLOBAL_AddressLine%%</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>