<div style="font-size: 12px;">
<h3 style="font-size: 18px;"><span style="font-family: 'times new roman', times;">%%LNG_OrderComments%%</span></h3>
<span style="font-family: 'times new roman', times;">%%GLOBAL_OrderComments%%</span></div>