<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px;" align="right"><span style="font-family: 'times new roman', times;">%%LNG_PaymentProviderName%%:</span></td>
<td style="font-family: Arial; font-size: 12px;" align="right" width="100"><span style="font-family: 'times new roman', times;">%%GLOBAL_PaymentProviderMethod%%</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>