<table style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;"><a href="%%GLOBAL_DownloadsLink%%"> <strong>%%GLOBAL_ProductName%%</strong> %%GLOBAL_ProductOptions%% </a></td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="center" width="100">%%GLOBAL_ProductQuantity%%</td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="right" width="100"><strong><a href="%%GLOBAL_DownloadsLink%%">%%LNG_DownloadLink%%</a></strong></td>
</tr>
</tbody>
</table>