<div style="padding: 0px 20px 20px 20px;"><span style="font-family: 'times new roman', times;">%%GLOBAL_AC_EmailBody%% %%GLOBAL_EmailFooter%% </span><br />
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_AC_UnsubscribeLink%%">%%LNG_AC_EmailUnsubscribe%%</a>%%LNG_AC_EmailUnsubscribeSuffix%%</span></p>
</div>