<div style="width: 800px; margin: auto;">
<p><span style="font-family: 'times new roman', times;"><img class="__mce_add_custom__" style="display: block; margin-left: auto; margin-right: auto; padding-top: 20px;" title="thanksforjoining.jpg" src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-par-logo.jpg" alt="thanksforjoining.jpg" width="381" height="83" /></span></p>
<p style="margin: 80px auto;"><img class="__mce_add_custom__" style="display: block; margin-left: auto; margin-right: auto;" title="welcome.jpg" src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/joinus.jpg" alt="welcome.jpg" width="800" /><small>Image via google</small></p>
<div style="padding-bottom: 5px; width: 800px; display: block; margin-left: auto; margin-right: auto;">
<h1 style="text-align: center; font-family: 'times new roman', times; font-size: 24px;">Thank's for joining us, we've been waiting for you.</h1>
</div>
<div style="padding: 20px 0; text-align: center; display: block; margin-left: auto; margin-right: auto; width: 800px;">
<p><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_Hi%% %%GLOBAL_FirstName%%,</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;">Thank you for creating your account at R&egrave;alisation. Your account details are as follows:</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_EmailAddress%%: %%GLOBAL_Email%%</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_Password%%: %%GLOBAL_Password%%</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;">To sign in to your account, please click <a style="color: #000; font-weight: bold;" href="%%GLOBAL_ShopPath%%/account.php">here</a>.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;">If you have any questions regarding your account, click 'Reply' in your email client or reach us at talktomebaby@relationpar.com and we'll be only too happy to help.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: medium;"><a style="color: #000; font-weight: bold;" href="%%GLOBAL_ShopPath%%/">realisationpar.com</a></span></p>
</div>
</div>