<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%LNG_ThanksForRegisteringAt%% %%GLOBAL_StoreName%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%LNG_Hi%% %%GLOBAL_FirstName%%,</span></p>
<p><span style="font-family: 'times new roman', times;">%%LNG_ThanksForRegisteringAtIntro%%</span></p>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_NewGuestAccountResetLink%%">%%GLOBAL_NewGuestAccountResetLink%%</a></span></p>
<p><span style="font-family: 'times new roman', times;">%%LNG_ThanksForRegisteringEmailHelp%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>