<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailHeader%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Message_1%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Message_2%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Message_3%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Message_4%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Errors_Heading%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Errors%%</span>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Warnings_Heading%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_Ebay_Listing_End_Email_Warnings%% %%GLOBAL_EmailFooter%%</span></div>