<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailHeader%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesDeletion_1%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesDeletion_2%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesDeletion_Lists%%</span></p>
<ul>%%GLOBAL_DeletedLists%%</ul>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesDeletion_3%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesDeletion_4%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>