<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailHeader%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesUpdate_1%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesUpdate_2%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesUpdate_MergeFields%%</span></p>
<ul>%%GLOBAL_MergeFieldsList%%</ul>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesUpdate_3%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_NoticeOfEmailIntegrationRulesUpdate_4%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>