<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailHeader%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegration_Export_Error_Email_Message_1%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegration_Export_Error_Email_Error_Heading%%</span></p>
<p><span style="font-family: 'times new roman', times;"><strong>%%GLOBAL_EmailIntegration_Export_Error_Email_Error%%</strong></span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegration_Export_Error_Email_Error_Footer%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>