<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Header%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Intro%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Error%%</span></p>
<ul>
<li><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Message%%</span></li>
</ul>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Time%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Details%%</span></p>
<p><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Type%%</em></span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Subscription%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_CommonCauses%%</span></p>
<ul>
<li><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Cause1_Intro%%</em> %%GLOBAL_EmailIntegrationNotice_Cause1_Detail%%</span></li>
<li><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Cause2_Intro%%</em> %%GLOBAL_EmailIntegrationNotice_Cause2_Detail%%</span></li>
<li><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Cause3_Intro%%</em> %%GLOBAL_EmailIntegrationNotice_Cause3_Detail%%</span></li>
<li><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Cause4_Intro%%</em> %%GLOBAL_EmailIntegrationNotice_Cause4_Detail%%</span></li>
<li><span style="font-family: 'times new roman', times;"><em>%%GLOBAL_EmailIntegrationNotice_Cause5_Intro%%</em> %%GLOBAL_EmailIntegrationNotice_Cause5_Detail%%</span></li>
</ul>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailIntegrationNotice_Closing%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></p>
</div>