<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%LNG_GiftCertificateEmailYouHaveReceived%% %%GLOBAL_StoreName%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%LNG_Dear%% %%GLOBAL_ToName%%,</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_Intro%% %%GLOBAL_ExpiryInfo%% %%LNG_GiftCertificateEmailInstructions%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%LNG_GiftCertificateEmailAttached%% %%LNG_GiftCertificateEmailWarning%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>