<div style="width: 800px; margin: auto; font-family: 'times new roman' !important; font-size: 16px !important;">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="__mce_add_custom__" title="realisation-par-alexandra-spencer-and-teale-talbot.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/realisation-par-alexandra-spencer-and-teale-talbot.png" alt="realisation-par-alexandra-spencer-and-teale-talbot.png" width="471" height="147" /></p>
<p style="margin: 80px auto; text-align: center;"><img class="__mce_add_custom__" title="welcome.jpg" src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/update.jpg" alt="Thank you" width="610" /></p>
<h1 style="max-width: 400px; margin: auto; font-size: 22px; margin-bottom: 15px; text-align: center;">Sit back. Relax. Your order is on its way.</h1>
<p style="margin: auto; font-size: 16px; text-align: center;">This email is your receipt and confirmation that we received your order. Please keep it for your records. <br />We will send you an updated status and shipping confirmation, once your order has been processed. <br />Please note, that we will not change your order status to 'Shipped' until parcel tracking details are made available. <br />Please allow up to 48 hours after ordering for tracking details to be supplied.</p>
<p style="margin: auto; font-size: 16px; text-align: center;">We ship orders, Mon-Fri (ADST). Any orders placed over the weekend will be shipped on Monday.</p>
<p style="margin: auto; font-size: 16px; text-align: center;">For same day dispatch orders need to be placed prior to 3pm Australian Daylight Savings Time.&nbsp;</p>
<p style="margin: auto; font-size: 16px; text-align: center;"><br />Have any questions about your order? Email us at <a style="color: #000; font-weight: 600;" href="mailto:talktomebaby@realisationpar.com">talktomebaby@realisationpar.com</a></p>
<div style="padding: 20px; text-align: center; text-transform: uppercase; color: #000;"><span style="font-family: 'times new roman', times; font-weight: 600; color: #000;">&nbsp; %%LNG_YourOrderIDIs%% <strong style="color: #000;">#%%GLOBAL_OrderNumber%%</strong>. %%GLOBAL_ViewOrderStatusMsg%%</span></div>
<br />
<table style="width: 100%; border: 1px solid #000; margin-bottom: 30px; font-family: 'times new roman', times !important; color: #000 !important; font-size: 16px !important;" border="0" cellspacing="0" cellpadding="30">
<tbody>
<tr>
<td id="Left" style="font-family: 'times new roman', times;" valign="top" width="50%"><span style="font-weight: 600; font-family: 'times new roman';">Billed to</span></td>
<td id="Right" style="font-family: 'times new roman', times;" valign="top" width="50%">
<p style="font-size: 18px; font-weight: 600; font-family: 'times new roman', times; margin: 0;"><span style="font-family: 'times new roman', times;">Billing Address</span></p>
<div style="font-size: 12px; font-family: 'times new roman', times;"><span style="font-family: 'times new roman', times;">%%GLOBAL_BillingAddress%%</span></div>
<span style="font-family: 'times new roman', times;"><!--
					<div style="%%GLOBAL_HideShippingEmail%%">%%LNG_Email%%: %%GLOBAL_ShippingEmail%%</div>
				--></span></td>
</tr>
<tr>
<td id="Left" style="font-family: 'times new roman', times; border-top: 2px solid #eee;" valign="top" width="50%"><span style="font-weight: 600; font-family: 'times new roman';">Shipped to</span></td>
<td id="Right" style="font-family: 'times new roman', times; border-top: 2px solid #eee;" valign="top" width="50%">
<p style="font-size: 18px; font-weight: 600; font-family: 'times new roman', times; margin: 0;"><span style="font-family: 'times new roman', times;">Shipping Address</span></p>
<div style="font-size: 12px; font-family: 'times new roman', times;"><span style="font-family: 'times new roman', times;">%%GLOBAL_ShippingAddress%%</span></div>
<span style="font-family: 'times new roman', times;"><!--
					<div style="%%GLOBAL_HideShippingEmail%%">%%LNG_Email%%: %%GLOBAL_ShippingEmail%%</div>
				--></span></td>
</tr>
</tbody>
</table>
<table style="width: 100%; border: 2px solid #eee; margin-bottom: 30px; font-family: 'times new roman', times !important; color: #000 !important; font-size: 16px !important;" border="0" cellspacing="0" cellpadding="30">
<tbody>
<tr>
<td id="Left" style="font-family: 'times new roman', times; border-bottom: 2px solid #eee;" valign="top">%%SNIPPET_CartItems%%</td>
</tr>
<tr>
<td id="Right" style="font-family: 'times new roman', times;" valign="top">%%SNIPPET_TotalRows%%</td>
</tr>
</tbody>
</table>
</div>