<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_LowInventoryWarning%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_LowInventoryWarningIntro%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_LowInventoryWarningProduct%%</span><br /><span style="font-family: 'times new roman', times;"> %%GLOBAL_LowInventoryWarningCurrentStock%%</span></p>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ShopPath%%/admin/index.php?ToDo=editProduct&amp;productId=%%GLOBAL_ProductId%%">%%LNG_LowInventoryWarningAdjust%%</a></span></p>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ShopPath%%/admin/index.php?ToDo=viewProducts&amp;inventoryLow=1">%%LNG_LowInventoryWarningAll%%</a></span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_LowInventoryWarningNotice%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>