﻿<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderStatusChanged%%</span></h2>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_OrderStatusChangedHi%%</span></p>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderStatusChangedIntro%%</span></p>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_OrderNumberStatusChangedTo%%</span></p>
<h3 style="font-size: 13px; color: #cc6600;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderDetails%%</span></h3>
<span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_RefundedAmountRow%%</span>
<table style="width: 100%;">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderStatusChangedOrderTotal%%:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_OrderTotal%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderStatusChangedDatePlaced%%:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_DatePlaced%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_OrderStatusChangedPaymentMethod%%:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_PaymentMethod%%</span></td>
</tr>
</tbody>
</table>
<h3 style="font-size: 18px;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_YourOrderContainsTheFollowingDownloadableItems%%</span></h3>
<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_CartItems%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" align="center" nowrap="nowrap" width="100"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_Qty%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" align="right" nowrap="nowrap" width="100"><span style="font-family: 'times new roman', times; color: #000000;">&nbsp;</span></td>
</tr>
</tbody>
</table>
<span style="font-family: 'times new roman', times; color: #000000;">%%SNIPPET_CartItems%% %%GLOBAL_EmailFooter%%</span></div>