<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ReplyToYourOrderMessage%%</span></h2>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ThisIsAnAutomatedMessage%%</span></p>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_StoreName%% %%LNG_MessageEmailText1%%</span><br /><span style="font-family: 'times new roman', times; color: #000000;"> %%LNG_MessageEmailText2%%</span></p>
<p><span style="font-family: 'times new roman', times; color: #000000;"><a href="%%GLOBAL_ShopPath%%/account.php?action=inbox"><span style="color: #000000;">%%GLOBAL_ShopPath%%/account.php?action=inbox</span></a></span></p>
<span style="font-family: 'times new roman', times;"><span style="color: #000000;">%%GLOBAL_EmailFooter%</span>%</span></div>