﻿<p><img class="__mce_add_custom__" title="unnamed.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/unnamed.png" alt="unnamed.png" width="76" height="150" /></p>
<hr />
<div style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="font-family: 'times new roman',times; color: #000000;">YOUR ORDER STATUS </span></h2>
<p><span style="font-family: 'times new roman', times;"><em><span style="font-size: medium;">%%GLOBAL_OrderStatusChangedHi%%</span></em></span></p>
<p><span style="font-family: 'times new roman', times;"><em><span style="font-size: medium;">%%LNG_OrderStatusChangedIntro%%</span></em></span></p>
<p><span style="font-family: 'times new roman', times;"><span style="font-size: medium;"><em>%%GLOBAL_OrderNumberStatusChangedTo%%</em> </span><em><span style="color: #000000; font-size: medium; font-weight: bold;"><br /><br /></span></em></span></p>
<span style="font-family: 'times new roman', times;"><em><span style="font-size: medium;">%%GLOBAL_RefundedAmountRow%%</span></em> </span></div>
<hr />
<div style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="font-family: 'times new roman',times; color: #000000;">ORDER DETAILS</span></h2>
<table style="width: 100%;">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_OrderStatusChangedOrderTotal%%</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;">%%GLOBAL_OrderTotal%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_OrderStatusChangedDatePlaced%%:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;">%%GLOBAL_DatePlaced%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; font-size: medium;">%%LNG_OrderStatusChangedPaymentMethod%%:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;">%%GLOBAL_PaymentMethod%%</span></td>
</tr>
</tbody>
</table>
</div>
<hr />
<div style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="font-family: 'times new roman',times; color: #000000;">SHIPMENT TRACKING</span></h2>
<p><span style="font-family: 'times new roman', times; color: #000000; font-size: medium;">Your parcel tracking number is:</span></p>
<h3 style="font-size: 13px; color: #cc6600;"><span style="font-family: 'times new roman', times; color: #000000; font-size: medium;">%%LNG_ShipmentTrackingNumbersLinks%%</span></h3>
<span style="font-family: 'times new roman', times;"><span style="font-family: 'times new roman', times;"><span style="font-size: medium;">%%GLOBAL_TrackingLinkList%%&nbsp;&nbsp;</span></span></span></div>
<p>&nbsp;</p>
<table style="width: 100%;">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="10%"><span style="font-family: 'times new roman', times; font-size: medium;">DHL:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;"><a href="http://www.dhl.com/en.html">http://www.dhl.com/en.html</a></span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="10%"><span style="font-family: 'times new roman', times; font-size: medium;">EMS:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;"><a href="http://www.ems.post/tracking">http://www.ems.post/tracking</a></span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px;" valign="top" nowrap="nowrap" width="10%"><span style="font-family: 'times new roman', times; font-size: medium;">USPS:</span></td>
<td style="font-family: Arial; font-size: 13px;"><span style="font-family: 'times new roman', times; font-size: medium;"><a href="https://www.usps.com">https://www.usps.com</a></span></td>
</tr>
</tbody>
</table>
<hr />
<div style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;">
<p><em><span style="font-size: medium;">%%GLOBAL_ViewOrderStatusLink%%</span></em></p>
</div>
<p style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;"><span><em><span><span style="font-family: 'times new roman', times; font-size: medium;">Please note, unless otherwise specified at the end of your tracking number, the&nbsp;carrier for delivery will be DHL. <br />DHL will deliver your order between 9am to 5pm, Monday to Friday. Please make sure that you will be able to sign for the parcel upon arrival.</span><br /><br /></span></em><span><em><span style="font-family: 'times new roman', times; font-size: medium;">Please e-mail </span><a style="font-family: 'times new roman', times; font-size: medium;" href="mailto:talktomebaby@realisationpar.com">talktomebaby@realisationpar.com</a><span style="font-family: 'times new roman', times; font-size: medium;">&nbsp;should you have any questions&nbsp;regarding your order.</span></em></span></span></p>
<p style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;"><span style="font-family: 'times new roman', times;"><span style="font-size: medium;">xx&nbsp;<br /></span><span style="font-size: medium;">R&eacute;alisation</span></span></p>
<p style="padding-top: 0px; padding-right: 20px; padding-bottom: 20px;"><span style="font-family: 'times new roman', times; font-size: x-small;"><br /><em><span style="font-size: small;">R&eacute;alisation unfortunately cannot be held responsible for any possible duties and taxes which may be applied by customs in the country where delivery is made. The responsibility for any custom duties, foreign taxes or other fees, which may be imposed, will rest with the customer.&nbsp;Please contact your local customs offices if you would like to seek more information regarding taxes and duties.</span></em></span></p>