<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%GLOBAL_OOSInventoryWarning%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_OOSInventoryWarningIntro%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_OOSInventoryWarningProduct%%</span><br /><span style="font-family: 'times new roman', times;"> %%GLOBAL_OOSInventoryWarningCurrentStock%%</span></p>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ShopPath%%/admin/index.php?ToDo=editProduct&amp;productId=%%GLOBAL_ProductId%%">%%LNG_OOSInventoryWarningAdjust%%</a></span></p>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ShopPath%%/admin/index.php?ToDo=viewProducts&amp;outOfStock=1">%%LNG_OOSInventoryWarningAll%%</a></span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_OOSInventoryWarningNotice%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>