<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%LNG_ContactPageFormSubmitted%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%LNG_ContactFormEmail1%%</span></p>
<h3 style="font-size: 13px; color: #cc6600;"><span style="font-family: 'times new roman', times;">%%LNG_ContactFormDetails%%:</span></h3>
<span style="font-family: 'times new roman', times;">%%GLOBAL_FormFieldList%%</span>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px;" colspan="2"><span style="font-family: 'times new roman', times;">%%GLOBAL_Question%%</span></td>
</tr>
</tbody>
</table>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>