<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ProductReviewEmailHeading%%</span></h2>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ProductReviewEmailSubheading%%</span></p>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ProductReviewEmailInstructions%%</span></p>
<ul>%%SNIPPET_ProductReviewItems%%</ul>
<p><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ProductReviewEmailThanks%%</span></p>
<span style="font-family: 'times new roman', times; color: #000000;">%%GLOBAL_EmailFooter%% </span><br />
<p><span style="font-family: 'times new roman', times; color: #000000;"><a href="%%GLOBAL_ProductReviewEmailUnsubscribeLink%%"><span style="color: #000000;">%%LNG_ProductReviewEmailUnsubscribe%%</span></a>%%LNG_ProductReviewEmailUnsubscribeSuffix%%</span></p>
</div>