<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="font-family: 'times new roman', times;">%%LNG_StatusOfReturnChanged%%</span></h2>
<p><span style="font-family: 'times new roman', times;">%%LNG_Hi%% %%GLOBAL_CustomerFirstName%%,</span></p>
<p><span style="font-family: 'times new roman', times;">%%LNG_RecentlySubmittedReturnRequest%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%GLOBAL_ProductQuantity%% x %%GLOBAL_ProductName%%</span></p>
<p><span style="font-family: 'times new roman', times;">%%LNG_ReturnStatusChangedTo%% <strong>%%GLOBAL_ReturnStatus%%</strong>. %%GLOBAL_ReturnReceivedCredit%%</span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_ReturnInstructions%%</span>
<p><span style="font-family: 'times new roman', times;"><a href="%%GLOBAL_ShopPath%%/account.php?action=view_returns">%%LNG_ClickToViewReturnStatus%%</a></span></p>
<span style="font-family: 'times new roman', times;">%%GLOBAL_EmailFooter%%</span></div>