<div style="width: 800px; margin: auto; font-family: 'times new roman' !important; font-size: 16px !important;">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="__mce_add_custom__" title="realisation-par-alexandra-spencer-and-teale-talbot.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/realisation-par-alexandra-spencer-and-teale-talbot.png" alt="realisation-par-alexandra-spencer-and-teale-talbot.png" width="362" height="113" /></p>
<p style="text-align: center;"><span style="font-family: 'times new roman', times; color: #000000;"><img class="__mce_add_custom__" title="pamela-anderson-tommy-lee-1995-billboard-650.jpg" src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/sometimes.jpg" alt="Sometimes" width="650" /></span></p>
<p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: xx-small;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-family: 'times new roman', times;">&nbsp;</span></span><span style="font-size: xx-small; font-family: 'times new roman', times;"><br /></span></p>
<p style="text-align: center;"><span style="font-family: 'times new roman', times;"><span style="font-size: medium;"><span style="font-size: xx-small;">&nbsp; &nbsp;</span><strong> &nbsp; &nbsp; </strong></span><strong>&nbsp; &nbsp; <span style="font-size: large;">We understand that sometimes things just don't work out . . .&nbsp;</span></strong><span style="font-size: medium;"><br /><br /></span></span></p>
<h2 style="width: 100%; padding: 10px; background-color: #ffffff;"><span style="font-size: large; font-family: 'times new roman', times; color: #000000;"><br />%%LNG_NotificationConfirmationForReturn%% #%%GLOBAL_OrderId%%</span><br /><span style="font-size: large; font-family: 'times new roman', times; color: #000000;">%%LNG_NotificationAReturnSummaryIsShownBelow%%&nbsp;<a style="font-size: 10px;" href="%%GLOBAL_ShopPath%%/account.php?view=returns"><span style="color: #000000;">%%LNG_ClickHere%%</span></a>. &nbsp; &nbsp; &nbsp;</span></h2>
<br />
<table style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%LNG_ReturnReason%%:</span></td>
<td style="font-family: Arial; font-size: 12px;"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%GLOBAL_ReturnReason%%</span></td>
</tr>
<tr style="display: %%GLOBAL_HideReturnAction%%;">
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%LNG_ReturnAction%%:</span></td>
<td style="font-family: Arial; font-size: 12px;"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%GLOBAL_ReturnAction%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" valign="top" nowrap="nowrap"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%LNG_YourComments%%:</span></td>
<td style="font-family: Arial; font-size: 12px;"><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%GLOBAL_ReturnComments%%</span></td>
</tr>
</tbody>
</table>
<h3 style="font-size: 13px; color: #cc6600;"><span style="font-family: 'times new roman', times; color: #000000; font-size: large;">%%LNG_NotificationYourReturnContainsTheFollowingItems%%</span></h3>
<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap"><span style="font-family: 'times new roman', times; color: #000000; font-size: large;">%%LNG_ReturnItems%%</span></td>
<td style="font-family: Arial; font-size: 12px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="120"><span style="font-family: 'times new roman', times; color: #000000; font-size: large;">%%LNG_Qty%%</span></td>
</tr>
</tbody>
</table>
<br /><br /><span style="font-family: 'times new roman', times; font-size: large; color: #000000;">%%SNIPPET_ReturnItems%% %%GLOBAL_EmailFooter%%</span></div>