<div style="width: 800px; margin: auto; font-family: 'times new roman' !important; font-size: 13px !important;">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="__mce_add_custom__" title="realisation-par-alexandra-spencer-and-teale-talbot.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/realisation-par-alexandra-spencer-and-teale-talbot.png" alt="realisation-par-alexandra-spencer-and-teale-talbot.png" width="487" height="152" /></p>
<p style="text-align: center;"><span style="font-family: 'times new roman', times; color: #000000;"><img class="__mce_add_custom__" title="pamela-anderson-tommy-lee-1995-billboard-650.jpg" src="https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/sometimes.jpg" alt="Sometimes" width="650" /></span></p>
<div style="padding: 0px 20px 20px 20px;">
<p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 3px; font-family: 'times new roman', times;"><br /><br /></span></p>
<p style="text-align: center;"><span style="font-family: 'times new roman', times; font-size: medium;">&nbsp; &nbsp;<strong> &nbsp; &nbsp; </strong><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span><span><span style="font-family: 'times new roman', times;"><strong>&nbsp;<span style="font-size: medium;"> We understand that sometimes things just don't work out . . .&nbsp;</span></strong></span><span style="font-family: 'times new roman', times;"><br /><br /></span></span></p>
<p style="text-align: center;"><span>&nbsp;</span></p>
<p style="text-align: center;"><span>&nbsp;</span></p>
<h2 style="width: 100%; padding: 10px; background-color: #ffffff;"><span><span style="font-size: medium;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_NotificationConfirmationForReturn%% #%%GLOBAL_OrderId%%<br /></span><span style="font-family: 'times new roman', times; color: #000000;">&nbsp;%%LNG_NotificationAReturnSummaryIsShownBelow%%</span></span><span style="color: #000000;"><span style="font-family: 'times new roman', times;">&nbsp;</span><span style="font-family: 'times new roman', times;"><a style="font-size: 10px;" href="%%GLOBAL_ShopPath%%/account.php?view=returns"><span style="color: #000000;">%%LNG_ClickHere%%</span></a>. &nbsp; &nbsp; &nbsp;</span></span></span></h2>
<br />
<table style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%LNG_ReturnReason%%:</span></td>
<td style="font-family: Arial; font-size: 12px;"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%GLOBAL_ReturnReason%%</span></td>
</tr>
<tr style="display: %%GLOBAL_HideReturnAction%%;">
<td style="font-family: Arial; font-size: 10px; font-weight: bold;" nowrap="nowrap" width="25%"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%LNG_ReturnAction%%:</span></td>
<td style="font-family: Arial; font-size: 10px;"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%GLOBAL_ReturnAction%%</span></td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 10px; font-weight: bold;" valign="top" nowrap="nowrap"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%LNG_YourComments%%:</span></td>
<td style="font-family: Arial; font-size: 10px;"><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%GLOBAL_ReturnComments%%</span></td>
</tr>
</tbody>
</table>
<h3 style="font-size: 10px; color: #cc6600;"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_NotificationYourReturnContainsTheFollowingItems%%</span></h3>
<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 10px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_ReturnItems%%</span></td>
<td style="font-family: Arial; font-size: 10px; background-color: #ffffff; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="120"><span style="font-family: 'times new roman', times; color: #000000;">%%LNG_Qty%%</span></td>
</tr>
</tbody>
</table>
<br /><br /><span style="font-family: 'times new roman', times; color: #000000; font-size: x-small;">%%SNIPPET_ReturnItems%% %%GLOBAL_EmailFooter%%</span></div>
<div style="padding: 0px 20px 20px 20px;"><strong><span style="font-family: 'times new roman', times; color: #000000; font-size: medium;">Now that your request for a return has been submitted, please wait to hear from us with your Returns Authorisation (RA) Number, and return address before sending any items. Please note, our office hours are Monday - Friday 9:30am -6:30pm, Australian Daylight Savings Time, therefore, any return requests submitted over the weekend will be reviewed on Monday. Please allow 24 hours from submitting a request to receive a reply. We will endeavour to get back to you as soon as we can.</span></strong></div>
<div style="padding: 0px 20px 20px 20px;">&nbsp;</div>
</div>