#instafeed a{
    width: 16.66%;
    float: left;
    text-align: center;
}

#instafeed a img{
    width: 100%;
}

.main .PasswordRequirementsContent {
    width: 390px;
max-width: 390px !important;

}
/* GENERAL */

body{
    font-family: "Times New Roman", Times, serif !important;
    font-weight: 100 !important;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif !important;
    color: #000000;
    text-transform: none !important;
}

body .grid__item {
    font-size: 14px;
}

body .btn{
    font-family: "Times New Roman", Times, serif sans-serif !important; 
    font-size: 16px !important;
    background: #000 !important;
    height: auto !important;
    padding: 10px !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    line-height: 14px !important;
    margin-right: 0 !important;
}

body .btn.btn-full{
    width: 100% !important;
}

body .btn-extra{
    background: #000 !important;
    color: #fff !important;
}

body .btn-extra2{
    background: #fff !important;
    color: #000 !important;
}

body .btn-action{
    background: #43A1D2 !important;
    color: #fff !important;
}

body .btn-lg{
    font-size: 18px !important;
    color: #fff !important;
}

body .btn-auto{
    width: auto !important;
}

body .addto .btn {
padding-top: 10px !important;
}

body input{
    font-family: "Times New Roman", Times, serif !important;
    width: 100%;
}

body input[type="submit"]{
    width: auto !important;
    min-width: 28px;
}

.CurrencyList dd, #SearchForm input.Textbox, select, hr, input.Textbox, textarea, input[type="text"], input[type="password"], .QuickSearch, .SharePublicWishList, .ExpressCheckoutBlock .ExpressCheckoutTitle, .TabNav li a, .HowToPay, .NotifyMessage, .QuickSearchResult .QuickSearchResultImage, .CurrencyChooser, .selected-currency, div.uploader, div.selector, .recaptchatable {
    background: #EEE !important;
}

.main .ProductPrice {
    color: #000000 !important;
    font-size: 26px !important;
    text-shadow: none !important;
    line-height: 30px;
    font-style: inherit;
}

.main .ExpressCheckoutContent {
    padding: 0 20px 20px 20px;
}

.main textarea {
    min-height: 100px;
    padding: 1em;
    width: 100%;
  resize: none;
}

.main ul li{
    list-style: disc outside none;
    list-style-position: outside;
}

.main .shippingquote ul li{
    list-style: none outside none;
}

.Left li a.active, a:hover, a.alt, p a, a.NextLink, .currency-converter p span, .BlockContent.PageContent a, .page-content #LayoutColumn2 a, .Left #SideCategoryList li a:hover, .Left .slist li a:hover, .Left .afterSideShopByBrand a:hover, .Left #GiftCertificatesMenu li a:hover, .Left #SideAccountMenu li a:hover, .PageMenu li ul li a:hover, .Breadcrumb li a {
color: #000;
}

.main .Breadcrumb{
    display: none !important;
}

.main .HorizontalFormContainer {
    max-width: 100%;
}

body .pull-right{
    float: right !important;
}



body .pull-left{
    float: left !important;
}

.custom-table{
font-size: 12px !important;
}

.custom-table tr td span{
display: block;
}

.custom-table tr td{
width: 45px !important;
    padding: 0;
    max-width: 45px !important;
    min-width: 45px;
    text-align: center;
}

.custom-table tr td:first-child{
width: 160px !important;
    padding: 0;
    max-width: 160px !important;
    min-width: 160px !important;
}

#first-table tr td{
width: 66px !important;

}

/* added border bottom to 000000 */
/* original: body table tbody tr td, body table.General tbody tr td, body table, body table.General, body */ 
body table tbody, body table.General tbody, body table, body table.General, body table.CartContents {
margin: 20px 0;
text-align: left;
border-bottom: 1px solid #000000;    
}

table tbody tr td{
padding: 4px 10px;
}



table.productAttributes tbody tr td{
border:none;
}

.txtR a.btn{
display:none;
}
body .borderB {
border-bottom: 1px solid #000;
}

.TitleHeading, .TabNav {
border-bottom: 1px solid #000;
}

.SuccessMessage, .ErrorMessage, .InfoMessage {
    background: #fff !important;
    border: 1px solid #000;
    margin: 0 0 20px 0;
    padding: 20px;
    padding-left: 20px;
}

/* CURRENCY MENU */

#currency-menu{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    color: #fff;
    top: 0;
}

.currency-on{
    display: block;
}

.currency-off{
    display: none;
}

#currency-menu h2{
    color: #fff;
}

#currency-menu{
   display: none;
}

.currency_menu_display{
   display: block !important;
}
#currency-menu .currency-box{
      background: rgba(255, 255, 255, 0.87);
  padding: 30px;
  width: 400px;
  position: absolute;
  margin-left: -230px;
  left: 50%;
  margin-top: 5%;
  text-align: center;
}

#currency-menu .currency-box img{
    margin-bottom: 35px;
}

#currency-menu .currency-box p{
    color: #000;
}

#ModalContent, .ModalContent, .CurrencyChooser a span {
    color: #000 !important;
}

.BlockContent.PageContent p, .BlockContent.PageContent span, .BlockContent.PageContent strong{
    text-align:center;
    color: #000 !important;
}
.BlockContent.PageContent strong span{
     font-size: 14pt !important;
}

.BlockContent img{
display: block;
  margin: auto;
}

#currency-menu .CurrencyList dd{
    border: 0;
    
    background: transparent !important; 
}

#currency-menu .CurrencyList dd a{
    border-bottom: 1px solid #000  !important; 
}

#currency-menu .CurrencyList dd a:hover span{
    color: #999  !important;
}

#currency-menu .CurrencyList dd:last-child a{
    border-bottom: 0  !important; 
}

#currency-menu .Flag{
    display: none;
}

.CurrencyList a .Text {
    padding-left: 0 !important;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

#currency-menu .Sel{
    background: transparent !important;
}

#currency-menu .Sel span{
    color: #000 !important;
}

#currency-menu .currency-box .btn{
    width: 370px;
    border: 1px solid #000;
} 

#currency-menu select{
    color: #000;
}

#currency-menu .CurrencyChooser {
    display: block;
}

#currency-menu .CurrencyChooser, #currency-menu .selected-currency, #currency-menu div.selector {
    background: transparent !important;
    border: #000;
}

.CurrencyChooser {
    display: none;
    position: relative;
    float: none;
    right: 0;
    top: 100%;
    padding: 15px;
    background: #ffffff;
    min-width: 150px;
}

#currency-menu .selected-currency{
    display: none;
}

#currency-menu div.selector {
    width: 260px;
    border: 1px solid #fff;
}

/* HEADER */
.page .header{
    max-width: 1260px;
    margin: 0 auto 30px;
}

.header .TopMenu{
    background: transparent;
      height: 127px;
    padding: 20px 0 0 0;
    width: auto;
    max-width: 1260px;
    position: relative;
}

.header .TopMenu ul {
    float: none;
display: inline-block;
}

.header .TopMenu ul .wishLink{
    display: none;
}

.header .TopMenu ul li {
      padding: 10px 17px;
display: inline-block;
float: none;
}

.header .TopMenu ul li ul li {
float: left;
}

.header .TopMenu ul li#homemenu {
    padding-left: 0;
}

.header .TopMenu ul li a {
      font-size: 19px;
      font-family: "Times New Roman", Times, serif !important;
  text-transform: capitalize !important;
}

.header .TopMenu ul li a:hover {
    color: #E02716 !important;
}

.TopMenu li.First a {
    font-size: 20px;
}

.TopMenu li.wishLink a {
    font-size: 20px;
}

.TopMenu li.last a {
    font-size: 20px;
}

.header #top-menu-1 {
    width: 100%;
    padding: 0;
}

.header #top-menu-1 img {
    max-width: 390px;
    max-height: 100% !important;
}

.header #top-menu-2 {
    float: left;
    width: 100% !important;
    padding-top: 22px;
    line-height: 36px;
}

.header #top-menu-2 #account-options-box {
    padding-top: 0;
    float: none;
    text-align: center;
}

.header .TopMenu a {
    color: #000;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    text-align: center;
}

.header #top-menu-2 .CategoryList {
    margin-top: 0;
    float: left;
    width: 150px;
}

.header #top-menu-2 #search-box {
padding-top: 0;
}

.header #top-menu-2 #SearchForm .Button {
    background-color: #2B2523;
}

.header .sf-with-ul{
/* pointer-events: none;
cursor: default;*/
} 

.main .HorizontalFormContainer dt, .main .HorizontalFormContainer dd, .form dt, .form dd {
  font-size: 13px;
  line-height: 18px;
  width: 400px;
}

.main .FormContainer dt {
  font-size: 18px;
  width: 170px !important;
}

.main .mtm .HorizontalFormContainer dt, .main .HorizontalFormContainer dd, .form dt, .form dd {
  font-size: 13px;
  line-height: 18px;
  width: inherit;
}

.main .mtm .FormContainer dt {
  font-size: 18px;
  width: inherit !important;
}

.header #menu_first{
padding-left: 0;
}

.header #menu_last{
padding-right: 0;
}

/* BREADCRUMB */

.product-page-interior .Breadcrumb li a, .main .Breadcrumb li a{
    font-family: "Times New Roman", Times, serif !important;
    font-size: 15px !important;
    color: #000;
}

.product-page-interior #ProductBreadcrumb li {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 15px !important;
    color: #000;
}

/* MAIN */

.main{
    max-width: 1260px;
    margin: auto;
    padding-top: 0;
}

.main .product-page-interior, .main .productlist-page, .main > .inner, .main .new-slide-container, .main .new-page-container{
    width: 100%; 
    padding-top: 30px;
    max-width: 1260px;
}

.main .PageContent{
    padding-top: 0;
    padding-left: 0;
}

.main #LayoutColumn1 {
    padding-bottom: 80px;
    padding-top: 0;
}

#bottom-menu-1{
     width: 100% !important;
    margin-right: 0 !important;
}



/* HOME */

.main .new-slide-container {
    padding-top: 0;
}

.main .new-slide-container .slide-content {
/*float: left;
margin-left: 0;
margin-right: 0;
margin-bottom: 20px;
width: 100%;
position: relative;*/
}

.new-slide-container .new-slides, .new-slide-container .new-slides {
    margin: 0;
}

.slide .slide-image {
    width: 100%;
}

#home #three-cols{
    width: 100%;
}

/* PRODUCTs LIST */

.main #CategoryHeading .TitleHeading {
border-bottom: 0;
margin-bottom: 10px;
padding: 0;
}

.main .productlist-page{
    padding-top: 0;
}

.main .CategoryContent .ProductList li:hover .ProductImage {
    opacity: 0.3;
}

.main .CategoryContent .ProductActionAdd {
    position: relative;
    z-index: 100;
    text-align: center;
    top: 0px;
    width: 100%;
    left: 0px;
    opacity: 1;
    padding-top: 0;
}
.main .TitleHeading{
display: none;
}

body .main .CategoryContent .ProductList li:hover .ProductImage {
    opacity: 1;
}

.main .CategoryContent .ProductActionAdd .btn{
    display: none;
}

.main .ProductList .p-price{
    color: #000;
    font-size: 16px;
    text-shadow: none;
    font-weight: 400;
}



.main .CategoryContent .ProductList p{
    margin-bottom: 10px;
}

.main .ProductList .pname {
    color: #000000;
    background-color: transparent;
    opacity: 1;
    font-family: "Times New Roman", Times, serif !important;
    font-weight: inherit;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
}

/* PRODUCT DETAILS */

#ProductDetails .ProductMain h1 {
    padding: 0;
    margin: 0 0 20px 0;
    word-wrap: break-word;
    font-size: 20px; 
    font-weight: inherit;
}

.OutOfStockMessage.InfoMessage{
border: 0;
 position:relative;
background-color: #F22613 !important;
    color: #000;
font-weight: 600;
    padding: 10px;
max-width:258px;

}

/*.OutOfStockMessage.InfoMessage:after{
   content: "This item is not available!";
  color: Black;
  position: absolute;
  left: 20px;
  top: 20px;
}*/

.ProductDescriptionContainer{
    font-family: "Times New Roman", Times, serif !important;
    font-size: 14px !important;
}


#ProductReviews{
    display: none; 
}

.main #ProductDetails .ProductMain {
    padding: 30px 0 20px 20px;
}

.main .ProductImageName {
    font-family: "Times New Roman", Times, serif !important;
}

.main #SimilarProductsByCustomerViews .ProductList li:hover .ProductImage {
    opacity: 0.3;
}

.main #SimilarProductsByCustomerViews .ProductDetails {
position: relative;
    z-index: 100;
    text-align: center;
    top: 0px;
    width: 100%;
    left: 0px;
    opacity: 1;
    padding-top: 0;
}

.main #SimilarProductsByCustomerViews .ProductList .ProductImage a, .main #SimilarProductsByCustomerViews .ProductThumbImage a {
display: table-cell;
width: 100%;
vertical-align: middle;
line-height: 0;
height: 150px !important;
}

#SimilarProductsByCustomerViews .ProductDetails strong a {
color: #000;
text-shadow: none;
font-family: "Times New Roman", Times, serif;
font-weight: inherit;
font-size: 14px;
line-height: 1.5;
text-transform: capitalize;
}

#SimilarProductsByCustomerViews .ProductDetails p em {
color: #000;
font-size: 12px;
text-shadow: none;
font-weight: 400;
}

.main .ProductOtherDetails {
margin-top: 0;
}

.main .ProductMain table.ExpectedReleaseDate td{
    border: 0;
    background-color: #F7B2BB;
    color: #000;
font-weight: 600;
}

.main .ProductMain table.ExpectedReleaseDate {
    margin-left: -2px;
}

/* PRODUCT NOTIFICATION */

.main #instock-notify-box{
    max-width: 292px;
}

.main #instock-notify-box .instock-form{
padding: 0;
margin: 10px 0; 
}

.main #instock-notify-box ul li {
    margin-bottom: 13px;
}

.main .form-popup-msg .msg-content{
text-align: left;
bottom: initial;
}

.main #instock-notify-box .form-popup-msg .msg-content .msg{
font-size: 14px;
}

.main #instock-notify-box .form-popup-msg{
width: 100%;
}

/* FORM */

.HorizontalFormContainer dt, .HorizontalFormContainer dd, .form dt, .form dd {
    font-size: 13px;
    line-height: 18px;
    width: 190px;
}
.main .HorizontalFormContainer dt input, .main .HorizontalFormContainer dd input, .main .form dt input, .main .form dd input {
    width: 100% !important;
}

/* LOGIN/SIGNUP */

.AccountLogin, .CreateAccount{
    border: 1px solid #eee;
    padding: 40px 150px;
    min-height: 450px;
    text-align: justify;
}

.AccountLogin .btn.alt, .CreateAccount a.btn.alt{
    width: 100%;
}

.main .YourAccount a{
    font-family: "Times New Roman", Times, serif !important;
}

#LoginForm h3{
    text-transform: uppercase !important;
}

/* CART */

.main .CartCode input, .main #apply_code{
    width:auto;
}

/* CHECKOUT */

.CartContents #couponcode{
    width: auto;
}

#CartContent .PayPalExpressCheckout input{
width: 180px;
}

#paypal-container{
    width: 100%;
margin-top: 30px;
}

#braintree-paypal-loggedout{
width: 100%;
}

#braintree-paypal-loggedout .paypal-button-widget{
width: 100%;
display: inline-block;
}

.paypal-button-widget .paypal-button.paypal-style-checkout.paypal-size-small{
width: 100%;
max-width: none !important;
    transform: scale(1.5);
}

.CheckoutHideOrderTermsAndConditions textarea{
min-height: 380px !important;
    font-family: "Times New Roman", Times, serif !important;
}

@media screen and (max-width: 480px){
.CheckoutHideOrderTermsAndConditions textarea{
    line-height: 24px;
    font-size: 12px !important;

}
}


/* TUMBLR */

.tumblr_posts .tumblr_post {
list-style: none outside none;
float: left;
max-width: 239px;
min-height: 470px;
margin: 0 25px;
width: 100%;
height: 100%;
}

/*Share buttons*/

.main .at300b, .main  .addthis_16x16_style .at4-icon, .main  .addthis_16x16_white_style .at4-icon, .main  .addthis_default_style .at4-icon, .main  .at-16x16, .main #___plusone_0 {
    width: 45px !important;
    height: 45px !important;
background-size: contain !important;
background-repeat: no-repeat !important;
background-color: transparent !important;
}

.main .at300b span{
display: none;
}

.main .addthis_button_facebook{
background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-facebook.png) ;
}

.main .addthis_button_twitter {
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-twitter.png);
}

.main .addthis_button_email {
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-email.png);
}

.main .addthis_button_print {
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-print-icon.png);
}


.main #___plusone_0{
background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-google-plus.png) !important;
background-size: 100% !important;
}

.main #___plusone_0 iframe{
opacity: 0;
width: 45px !important;
    height: 45px !important;
    padding-top: 15px;
    padding-left: 10px;
}


/* FOOTER */

.footer{
    background-color: #fff !important;
    border-top: 0; 
    height: auto !important;
    text-align: center;
    position: relative !important;
border-top: 1px solid #000;
}

.footer .container{
    max-width: 1260px;
    margin: auto;

}

.footer .footer-section1 {
    width: 100%;
}

.footer .footer-section2 {
    width: 100%;
    padding-top: 0;
}

.footer .footer-section3 {
    width: 100%;

}

.footer .newsletter-subscription{
    background-color: #fff;
   /* float: left; */
  display: inline-block;
  width: 75%;
}

.footer .newsletter-subscription h4 {
    text-align: right;
}

.footer .newsletter-subscription > .inner{
    width: 100%;
}

.footer .newsletter-subscription .btn.btn{
    padding-bottom: 14px;
    height: auto;
}

.footer #socnet {
    margin-top: 0;
}

.footer .icon-social, .mini-footer .icon-social{
    -webkit-filter: none !important;
      width: 55px;
  height: 55px;
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-size: 100%;
}

.footer .icon-facebook, .mini-footer .icon-facebook{
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-facebook.png);
}



.footer .icon-twitter, .mini-footer .icon-twitter{
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-twitter.png);

}
.footer .icon-pinterest, .mini-footer .icon-pinterest{
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-pinterest.png);
}

.footer .icon-instagram, .mini-footer .icon-instagram{
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-instagram.png);
}

.footer .icon-google-plus, .mini-footer .icon-google-plus{
background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-google-plus.png);
}




.footer .icon-mail, .mini-footer .icon-mail{
background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-email.png);
}

.main .at4-icon.aticon-email {
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/r-alisation-email.png);
background-color: transparent !important;
    background-size: 100% !important;
}

.main .at4-icon.aticon-print {
    background: url(https://cdn3.bigcommerce.com/s-233ct/product_images/uploaded_images/icon-print.png);
background-color: transparent !important;
    background-size: 100% !important;
}


#copyright{
    font-size: 11px;
    margin-bottom: 0;
    line-height: 45px;
}

#copyright a{
    text-decoration: underline;
}

.footer #search-box {
  float: left;
  width: 25%;
}

.footer #search-box #SearchForm {
  width: 100%;
  /* float: right; */
  display: inline-block;
}

.footer #search-box #SearchForm .Button {
  background: url("//cdn3.bigcommerce.com/r-2b5da000bcac2ce142e099ba8093da276f6d40a0/themes/Aberdeen/images/searchIcon.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 1);
}

.main .SubMenuResponsive{
    display: none;
    font-family: "Times New Roman", Times, serif !important;
}

.menu-btn {
        padding: 4px 10px;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    width: 19px;
    line-height: 12px;
    border: 0;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;
    display: none;
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 9999;
}

.menu-btn:hover {
cursor: pointer;
}
 
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
}

.Content {
    padding: 15px;
}

.SubCategoryList a {
    font-family: "Times New Roman", Times, serif !important;
}

/* from b3b3b3 to 000000 */
.header {
    border-bottom: solid 1px #000000;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.page .header {
    max-width: 100%;
}

.page .header .inner {
    max-width: 1260px;
    margin: 0 auto;
}

/* from b3b3b3 to 000000 */
.page .footer {
    border-top: solid 1px #000000;
    padding-top: 30px;
}

.header .TopMenu{
height: 50px;
padding: 0;
}

.inner {
    padding-top: 15px !important;
}


#contact-input{
    text-align: right;
}

@media only screen and (max-width: 1324px){
.page{
  overflow-x: hidden;
}
#top-menu-2 {
  width: 100% !important;
}
#account-options-box ul li a {
  font-size: 17px !important;
}
#SearchForm{
    display: none; 
}
.SubMenuResponsive {
    display: block;
}
}


@media only screen and (max-width: 1175px){
#top-menu-2 {
  width: 100% !important;
}
#account-options-box ul li a {
  font-size: 14px !important;
}
.SubMenuResponsive {
    display: block;
}
.AccountLogin, .CreateAccount {
  padding: 40px 30px !important;

}
}

@media only screen and (max-width: 1000px){
#account-options-box ul li a {
  font-size: 12px !important;
}
.SubMenuResponsive {
    display: block;
    font-family: "Times New Roman", Times, serif !important;
}
}

@media only screen and (max-width: 768px){

.main .CategoryContent .ProductActionAdd {
    text-align: center !important;
}
    
.main .CategoryContent .ProductActionAdd a{
    margin-top: 10px;
}
    
    .SubCategoryList ul{
        margin-bottom: 25px;
        width: 100%;
        display: block;
        padding: 0;
    }
    
    .SubCategoryList ul li{
        padding-right: 0;
        display: block !important;
        float: none;
        padding: 0;
    }
    
.SubCategoryList ul li a { 
    display: block;
    font-size: 15px !important;
    text-align: center !important;
    padding: 10px 0;
}

.ProductList li{
min-height: 0 !important;
}
.ProductList .ProductImage a, .ProductThumbImage a{
display: table-cell !important;
padding: 0;
height: auto !important;
min-height: 250px;

}

#bottom-menu-1 h2{
    font-size: 14px;
}

.tumblr_posts .tumblr_post {
    max-width: initial;
    min-height: initial;
    margin: 0;
}

#account-options-box ul li a {
  font-size: 12px !important;
}
.SubMenuResponsive {
    display: block;
    font-family: "Times New Roman", Times, serif !important;
}
#mini-nav-bar.hidden {
    display: none !important;
}
.menu-btn {
    display: block
}

#mini-nav-bar ul li ul {
   display: none !important;
position: relative;
top: inherit;
    width: 80%;
}

#mini-nav-bar ul li ul.show {
   display: block !important;
visibility: visible !important;

}

#mini-nav-bar ul li ul.show li:last-child{
border-bottom: 0 !important;
}

#mini-nav-bar ul li ul.show li a {
   font-size: 16px !important;
}




.inner {
    padding: 15px 0 !important;
}

.header #top-menu-1 img {
 width: 100%;
height: auto;
max-height: 100% !important;
}

.grid__item{
padding-left: 0;
    width: 100%;
}
.ProductThumbImage{
padding-top: 15px;
}

#SimilarProductsByCustomerViews{
   float:none;
  width:94% !important;
}

.PrimaryProductDetails .ProductMain{
  width: 94%;
}

.page .header {
    margin: 0 auto 15px;
    padding-bottom: 0;
}
.header .TopMenu {
    margin: 0;
}

   .header #top-menu-1 img {
max-width: 200px;
      max-height: 84px !important;
   }

.main .new-slide-container {
    padding-top: 0px !important;
}
   .grid{
      margin-left:0px;
   }

   .ProceedToCheckout.pull-right, .KeepShopping.pull-left{
        float:none !important;
   }
#CartContent .ProceedToCheckout .btn{
  height:50px !important;
  line-height: 29px !important;
}


}

    
/*    menu*/
    
    .sf-menu li a {
        font-size: 20px !important;
        text-align: center;
    }
    #mini-nav-bar {
        position: relative;
        width: 100%;

        height: 400px;
    }
    
    .main .product-page-interior, .main .productlist-page, .main > .inner, .main .new-slide-container, .main .new-page-container{
    padding-top: 0;
    }
    
    
    /* from right to center */
    .CartContents tfoot .SubTotal td div {
        text-align: right;
    }
} 

@media (max-width: 440px){

.mini-footer .icon-social {
  width: 40px;
  height: 40px;
}

#currency-menu .currency-box {
  width: 230px;
  margin-left: -145px;
}
.productPage .ProductList li{
display: inline-block;
float:none;
}
   .contact-page.one-half{
     width:100%;
   }
   .contact-page .HorizontalFormContainer dd{
      width:100%;
   }
}



.ProductTinyImageList{
  width: 80% !important;
}

#ProductDetails .ProductTinyImageList ul li{
height: auto !important;
    vertical-align: top;
}

#ProductDetails .ProductTinyImageList ul li a {
    margin: 0 5px;
}
.ProductTinyImageList ul{
width: 100% !important;
  text-align: center !important;
}
.ProductTinyImageList ul li{
float:none !important;
    width: 50% !important;
height:300px !important;
margin: 0 !important;
}
.ProductTinyImageList ul li .TinyOuterDiv{
width: 100% !important;
  height: auto !important;
}
.ProductTinyImageList ul li .TinyOuterDiv div{
width: 100% !important;
  height: auto !important;
}
.ProductTinyImageList ul li .TinyOuterDiv div a img{
 width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 1024px) {
  .ProductTinyImageList ul li{
    width:170px !important ;
    height:220px !important;
   }
   
}

@media screen and (max-width: 480px) {
  .ProductTinyImageList ul li{
    width:120px !important ;
    height:156px !important;
   }
   
}
#ImageScrollPrev{
   z-index: 100;
  left: 10px !important;
  width: 30px;
  height: 30px !important;
  background: url(//cdn3.bigcommerce.com/r-2b5da000bcac2ce142e099ba8093da276f6d40a0/themes/Aberdeen/images/bg_direction_nav.png) no-repeat 0 0 !important;
}

#ImageScrollNext {
  width: 30px;
  height: 30px !important;
  
background: url(//cdn3.bigcommerce.com/r-2b5da000bcac2ce142e099ba8093da276f6d40a0/themes/Aberdeen/images/bg_direction_nav.png) no-repeat -30px 0px !important;
}

#ImageScrollPrev img, #ImageScrollNext  img{
   display:none;
}


#page-sizing table {
    border: 3px solid #b3b3b3;
    margin-bottom: 60px;
}

#page-sizing tr {
    border: none;
}

#page-sizing tr:nth-of-type(odd) {
	background-color: #f7f7f7;
}

#page-sizing tr td {
    border: none;
}

#page-sizing tr td p {
    margin: 15px 0;
}



@media 
only screen and (max-width: 760px)  {

	#page-sizing table {
		width: initial!important;
		height: initial!important;
	}

	#page-sizing table, #page-sizing thead, #page-sizing tbody, #page-sizing th, #page-sizing td, #page-sizing tr { 
		display: block; 
	}
	
	#page-sizing thead tr { 
		display: none;
	}
	
	#page-sizing tr td, #page-sizing #first-table tr td { 
		/* Behave  like a "row" */
		border: none;
	    border-bottom: 3px solid #f3f3f3; 
		position: relative;
		padding-left: 50%; 
		max-width: none!important;
		min-width: 0!important;
	    width: initial!important;
	    text-align: center!important;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
	}
	
	#page-sizing tr {
		background-color: #fff!important;
	}

	#page-sizing tr td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		color: #000;
	    font-size: 14pt;
        font-family: times new roman,times;
        font-weight: bold;
        padding-top: 2px;
	}
	
	#page-sizing tr td p { 
		margin-top: 0;
		margin-bottom: 0;
	}

	#page-sizing td:nth-of-type(1) {
		padding-left: 0!important;
	    background-color: #f7f7f7;
        padding-top: 10px;
        padding-bottom: 10px;
	}

	#page-sizing tr:nth-of-type(1) { display: none; }
	#page-sizing td:nth-of-type(2):before { content: "XXS"; }
	#page-sizing td:nth-of-type(3):before { content: "XS"; }
	#page-sizing td:nth-of-type(4):before { content: "S"; }
	#page-sizing td:nth-of-type(5):before { content: "M"; }
	#page-sizing td:nth-of-type(6):before { content: "L"; }

	#page-sizing #first-table td:nth-of-type(2):before { content: "US"; }
	#page-sizing #first-table td:nth-of-type(3):before { content: "AU"; }
	#page-sizing #first-table td:nth-of-type(4):before { content: "UK"; }
	#page-sizing #first-table td:nth-of-type(5):before { content: "EUR"; }
}




/* WUFOO CONTACT US FORM */
.wufoo .info h2 {
    display: none;
}

form span.req {
    color: #000 !important;
}


.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    font-style: normal;
    font-weight: normal;
    color: #333333;
    font-family: Time New Roman;
}

.wufoo input.btTxt {
    font-size: 16px !important;
    background: #000 !important;
    height: auto !important;
    padding: 10px !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    line-height: 14px !important;
    margin-right: 0 !important;
    color: #fff;
    font-family: Time New Roman;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    width: auto !important;
    min-width: 55%;
    border: 1px solid #d9d9d9;
    float: right;
}

.wufoo input.text, .wufoo input.file, .wufoo select.select {
    background: #eeeeee;
    box-sizing: border-box;
    font-size: 13px;
    height: 35px;
    margin: 0;
    padding: 0 1em;
	border: 1px solid #d9d9d9;
	float: right;
	min-width: 55%;
}



.wufoo label.desc, .wufoo legend.desc {
    font-size: 18px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    float: left;
    width: 40%;
    text-align: right;
    margin-right: 0.5em;
}

.wufoo input.text, .wufoo textarea.textarea {
    min-width: 55%;
    max-width: 55%;
	resize: none;
	float: right;
}

