
@font-face {
  font-family: 'Didot';
  src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),  url('../fonts/Didot.woff') format('woff'), url('../fonts/Didot.ttf')  format('truetype'), url('../fonts/Didot.svg#Didot') format('svg');
  font-weight: normal;
  font-style: normal;
}
