@media only screen 
and (max-width : 1324px) {

#search_query {
    font-size: 10px !important;
}

.footer-section2 {
    padding-top: 25px !important;
}

.footer-section2 {
    font-size: 12px;
}

.sf-menu li a {
    font-size: 13px !important;
}

#account-options-box ul li a {
    font-size: 13px !important;
}

#top-menu-2 {
    width: 40% !important;
}

#top-menu-3 {
    width: 35% !important;
}

#LogoContainer h1 a {
    font-size: 18px !important;
}

h4 {
    font-size: 12px !important;
}



.newsletter-subscription .btn.btn {
    font-size: 12px !important;
    height: 30px !important;
    padding-bottom: 5px !important;
    line-height: 15px;
}



}


@media only screen 
and (max-width : 1270px) {


.newsletter-subscription .btn.btn {
    font-size: 12px !important;
    height: 30px !important;
    padding-bottom: 5px !important;
    line-height: 15px;
}

}



@media only screen 
and (max-width : 990px) {

h4 {
    font-size: 10px !important;
}

}

@media only screen 
and (max-width : 870px) {

.newsletter-subscription .btn.btn {
    font-size: 9px !important;
}

}


@media only screen 
and (max-width : 768px) {

#ProductVideos, #ProductWarranty, #ProductOtherDetails, #ProductReviews, #SimilarProductsByCustomerViews {
    width: 100% !important;
}

div#SideSubPageList {
padding-top: 70px !important;
}


#search_query {
    font-size: 18px !important;
}

.mini-footer #socnet ul {
    margin: 0 !important;
    padding-bottom: 15px !important;
}

.mini-footer {
    display: inline-block !important;
    background-color: #DEDEDE;
    width: 100%;
    text-align: center;
}

.mini-footer #socnet {
    margin: 0 auto;
    padding-top: 7px;
}

.mini-footer #socnet li {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mini-footer-section2 {
    margin: 0 auto;
    text-align: center;
}

.mini-footer .pages-menu {
    background-color: #dedede;
    margin: 0 !important;
    padding: 0 !important;
}

.mini-footer .pages-menu li {
    background-color: #dedede;
    clear: none !important;
    display: inline;
    float: none;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: auto !important;
    border: medium none !important;
}

.mini-footer .pages-menu li a {
    display: inline !important;
}

.mini-footer-section3 {
    padding-bottom: 15px;
    padding-top: 10px;
}

.mini-footer-section3 a {
    color: #000000;
}

#CategoryHeading .TitleHeading {
    border: medium none;
    padding:0px !important;
}

.PageContent {
    padding-top: 0px !important;
}

.CartItemQuantity .selector, .DetailRow.qty .selector {
    width: 60px !important;
}

.EstimateShippingLink {
    line-height: 30px !important;
}

.KeepShopping .btn {
    line-height: 30px !important;
}

#SearchPage .ProductDetails {
    clear: both;
    border-top: medium none;
    padding-left: 0 !important;
}

#SearchPage .ProductImage {
    width: 100% !important;
}

#SideAccountMenu {
    display: none;
}

#popup-search-box #SearchForm .Button {
    display: none;
}

#popup-search-box #SearchForm #search_query {
    height: 60px;
    width: 100% !important;
}

#popup-search-box #SearchForm {
    clear: both;
    float: left !important;
    padding-top: 15px;
    width: 100%;
}

.sf-menu {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}


.sf-menu li a {
    font-size: 25px !important;
}

.bottom-menu-item {
    width: 90% !important;
}

#bottom-menu-1 {
    margin-right: 0px !important;
}

#top-menu-3 {
    width: 50% !important;
    float: right !important;
}

.sf-menu, .sf-menu * {
    margin: auto !important;
}

.sf-menu li {
    display: inline;
    float: left;
    padding-left: 10px;
}

.CategoryList {
    margin: 0 !important;
}

#mini-nav-bar {
    display: inline !important;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 100000;
    margin-top: 70px;
}

.TopMenu {
    height: 50px;
}

#top-menu-1 {
    padding-top: 0;
}

#top-menu-2 {
    display: none !important;
}

#account-options-box {
    display: none;
}

#account-options-box-mini {
    display: inline !important;
    float: right;
    padding-top: 18px;
}

#search-box {
    display: none;
}

.slide-content {
    width: 96.5% !important;
}

.new-slides ul, ol {
    margin: 0 0 10px !important;
}

#account-options-box-mini img {
    width: 70%;
}

.SubCategoryList {
    display: block;
}

.BlockContent a {
    font-size: 25px !important;
}

.BlockContent li {
    padding-bottom: 20px !important;
}

.txt24 {
    display: none;
}

.TitleHeading {
    padding-top: 0px !important;
}

.btn {
    height: auto !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.product-page-interior {
    padding-top:0px !important;
}

#ProductBreadcrumb {
    display: block !important;
}

#ProductBreadcrumb li {
    font-size: 25px !important;
}

.Breadcrumb {
    display: block !important;
}

.Breadcrumb li {
    font-size: 25px !important;
}

#ProductBreadcrumb {
    float: none !important;
}

.ProductThumbImage {
    height: auto !important;
}

.SubCategoryList {
    display: inline !important;
}

.CategoryPagination {
    font-size: 20px !important;
    padding-top: 20px !important;
    text-transform: uppercase;
}

#LayoutColumn1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#LayoutColumn2 {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

.SubCategoryList li {
    float: left;
    text-align: left !important;
    width: 100%;
    border-bottom: 1px solid #000000;
    padding-left: 0 !important;
}

.SubCategoryList a {
    font-family: 'Open Sans Condensed' !important;
    font-size: 25px !important;
    text-transform: uppercase;
}

.slide-content {
    width: 100% !important;
}

.ProductList .ProductActionAdd {
    display: inline !important;
    position:relative;
    text-align: left !important;
    top: 0px !important;
    height: auto !important;
    opacity:1 !important;
}

.ProductActionAdd .pname {
    font-size: 16px !important;
}

.ProductActionAdd .p-price {
    font-size: 16px !important;
}

#account-options-box-mini {
    margin-top: 15px;
    padding-top: 0px !important;
    width: 100%;
}

#LogoContainer h1 a {
    font-size: 35px !important;
}

.Logo1stWord {
    font-size: 35px;
}

.TopMenu {
    position: relative !important;
    padding-bottom: 30px;
    padding-top: 0px !important;
    text-align: center !important;
}

.ProductDetails strong a {
    font-size: 16px !important;
}

.ProductDetails {
    position: relative !important;
    text-align: left !important;
    top: 0px !important;
    height: auto !important;
}

.ProductList .ProductImage a, .ProductThumbImage a {
    display: inline !important;
}

.ProductList li, #home .ProductList li, .productPage .ProductList li {
    width: 100% !important;
}

.ProductDetails p em {
    font-size: 15px !important;
}

.btn.icon-Choose.Options {
    display: none;
}

.btn.icon-Add.To.Cart {
    display: none;
}

.ProductDetails {
    opacity: 1 !important;
}

.Content {
    min-height: 0px !important;
}

.sf-menu li {
    clear: both;
    border-bottom: 1px solid #000000;
    width: 100%;
    padding-left:0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mini-nav-bar {
    background-color: #FFFFFF;
    display: block !important;
    padding-bottom: 10px;
    margin-top: 0px !important;
    position: relative;
    width: 100%;
    z-index: 100;
}

#top-menu-1 {
    width: 100% !important;
    height: 35px;
    padding-left: 0px !important;
}

#top-menu-3 {
    float: right !important;
    width: 100% !important;
    clear:both;
}

.TopMenu ul {
    text-align: center;
}

.TopMenu li {
    padding-left: 0;
    padding-right: 0;
}

#LogoContainer h1 a {
    font-size: 15px !important;
}

.slide-overlay {
    left: 5% !important;
    text-align: left !important;
    top: 4% !important;
    max-width: 90% !important;
}

.btn {
    font-size: 15px;
    line-height: 18px;
}

.slide-heading {
    font-size: 20px !important;
}

.slide-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.new-slide-container {
    padding-top: 30px !important;
}

#bottom-menu-1 {
    padding-bottom: 0 !important;
}

.newsletter-subscription {
    display: none !important;
}

.footer {
    display: none;
}

.TopMenu {
    display: block !important;
}

.header {
    padding: 0;
}

}

@media only screen 
and (max-width : 480px) {

.slide-button {
    width: 50% !important;
}

.slide-button .btn {
    font-size: 14px;
}

}


div#SideSubPageList {
padding-top: 100px;
text-align: center;
}

#top-menu-1 img {
max-width: 150px;
max-height: 50px;
}

.productAttributeLabel label {
text-align: left;
}

input#FormField_13 {
width: auto !important;
}

input#FormField_23 {
width: auto !important;
}

#mini-nav-bar {
    display: none;
}

.mini-footer {
    display: none;
}

#top-menu-2 {
    display: inline;
}

#account-options-box-mini {
    display: none;
}

.new-slides ul, ol {
    margin: 0 15px 10px 30px;
}

.footer {
    background-color: #DEDEDE;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 99999;
}

#socnet {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

#socnet ul li {
    display: inline;
}

.newsletter-subscription {
    background-color: #DEDEDE;
    float: right;
    margin-right: 0;
    margin-top: -2px;
    vertical-align: top;
}

.TopMenu {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;
    background: none repeat scroll 0 0 #000000;
    color: #000000;
}

#top-menu-1 {
    float: left;
    width: 20%;
    padding-left: 20px;
    padding-top: 6px;
}

#top-menu-2 {
    float: left;
    width: 46%;
}

#top-menu-3 {
    float: left;
    width: 30%;
}

/*.slide-show {
display:none;
}

.slide {
    display: inline;
}

.slide-content {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 47.69%;
    position: relative;
}

.slide-overlay {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

.new-slide-container {
    clear: both;
    content: "";
    padding-top: 80px;
}*/

#LogoContainer h1 a {
    font-size: 25px;
}

.TopMenu li.First a {
    font-size: 18px;
    text-transform: uppercase;
}

.TopMenu li.wishLink a {
    font-size: 18px;
    text-transform: uppercase;
}

.TopMenu li.last a {
    font-size: 18px;
    text-transform: uppercase;
}

.TopMenu a {
    color: #FFFFFF;
    font-family: 'Francois One', sans-serif;
}

.sf-menu li a {
    font-size: 18px;
    text-transform: uppercase;
}

.TopMenu li {
    border-right: medium none !important;
}

.CategoryList {
    margin-top: 28px;
}

#account-options-box {
    padding-top: 28px;
    float: left;
}

#search-box {
    padding-top: 20px;
}

.bottom-menu-item .ProductImage {
   
}

#home .ProductList li, .productPage .ProductList li {
    display: inline;
    float: left;
}

#three-cols {
    width: 90%;
    margin: 0 auto;
}

#bottom-menu-1 {
    margin-right: 50px;
    padding-bottom: 100px;
}

.bottom-menu-item {
    float: left;
    width: 100%;
}

.ProductList li {
    padding-bottom: 0 !important;
}

#top-menu-2 #account-options-box .sf-menu li ul {
    display: none; 
background: rgba(255,255,255,0.9);
width: auto;
padding-top: 15px;
}

#top-menu-2 #account-options-box .sf-menu li ul li a {
    text-align: left;
}
.btn {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 18px;
    height: 50px;
    padding-top: 6px;
    text-transform: uppercase;
    opacity: 0.8;
}

.newsletter-subscription .btn.btn {
    font-size: 14px;
    height: 35px;
    padding-bottom: 5px;
    width: 300px;
}


.slide-heading {
    font-size: 35px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

.slide-text {
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

.newsletter-subscription .btn.btn {
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 15px;
}

.TopMenu a:hover {
    color: #999999 !important;
}

h4 {
    font-size: 16px;
}

.slide-image {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One';
    color: #000000;
    text-transform: uppercase;
}

.new-page-container {
    width:90%;
}

.sub-page-list {
    width:100%;
}

.productlist-page {
    margin: 0 auto;
    width: 90%;
}

#CategoryHeading .CategoryDescription {
    display: none;
}

#CategoryHeading {
    text-align: center;
}

.SubCategoryList {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.SubCategoryList ul, .SubCategoryList li {
    display: inline;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}

.SubCategoryList a {
    font-family: 'Francois One';
    font-size: 18px;
    text-transform: uppercase;
}

input {
    font-family: 'Francois One';
}

.SortBox {
    display: none;
}

.btn.icon-Choose.Options {
    margin: 0 auto !important;
    text-align: center;
}

.btn.icon-Add.To.Cart {
    margin: 0 auto !important;
    text-align: center;
}

.ProductActionAdd {
    position: absolute;
    z-index:100;
    text-align: center;
    top: 0px;
    width: 100%;
    left:0px;
    opacity:0;
    height: 100%;
    padding-top: 50%;
    cursor: pointer;
}

.ProductActionAdd:hover {
    opacity:1;
}


.ProductList li {
    position: relative !important;
}

.ProductList .pname {
    color: #000000;
    background-color: #FFFFFF;
    opacity: 0.7;
    font-family: 'Francois One';
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
}

#ProductBreadcrumb {
    //float: right;
}

#ProductBreadcrumb li {
    font-size: 25px !important;
}

.Breadcrumb li {
    font-size: 25px !important;
}

.product-page-interior {
    margin: 0 auto;
    padding-top: 80px;
    width: 90%;
}

.ProductMain {
    //text-align:center;
}

.ProductDetailsGrid .Label {
    //text-align: center !important;
}

.ProductTinyImageList {
    z-index: 0 !important;
}

.productAttributeLabel > label {
    //text-align: center;
}

#ProductVideos, #ProductWarranty, #ProductOtherDetails, #ProductReviews, #SimilarProductsByCustomerViews {
    float: right;
    width: 48%;
    padding: 10px;
}

#product-end-div {
    height: 50px;
    padding-bottom: 50px;
    clear: both;
}

.required {
    display: none !important;
}

.addto .btn {
    padding-top: 3px !important;
}

div#fancy_outer {
    z-index: 100000 !important;
}

body {
    font-family: 'Open Sans Condensed';
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    height: 100%;
    overflow: hidden;
}

.page {
    height: 100%;
    overflow-y: scroll;
}

#LayoutColumn1 {
    padding-bottom: 80px;
    padding-top: 80px;
}

#LayoutColumn2 {
    padding-bottom: 80px;
}


.prodAccordionContent ul, li {
    list-style: none outside none;
}

#ProductByCategory {
    text-align: center;
    padding-bottom: 50px;
}

#SearchForm .Button {
    background: url("%%GLOBAL_TPL_PATH%%/images/searchIcon.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}

.footer-section1 {
    display: block;
    float: left;
    width: 15%;
}

.footer-section2 {
    display: block;
    float: left;
    width: 17%;
    padding-top: 22px;
}

.footer-section3 {
    float: left;
    width: 68%;
}

.p-price {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

#socnet li {
    padding-right: 5px;
}

#ProductDetails {
    padding-bottom: 50px;
}

.ProductImageName {
    color: #000000;
    font-family: 'Open Sans Condensed';
}

.ImageCount {
    font-family: 'Open Sans Condensed';
}

.icon-social.icon-social-theme {
    -webkit-filter: invert(100%);
}

.bottom-menu-item .ProductDetails {
    position: absolute;
    z-index:100;
    text-align: center;
    top: 0px;
    width: 100%;
    left:0px;
    opacity:0;
    height: 100%;
    padding-top: 50% !important;
    cursor: pointer;
}

#SimilarProductsByCustomerViews .ProductDetails {
    position: absolute;
    z-index:100;
    text-align: center;
    top: 20%;
    width: 100%;
    left:0px;
    opacity:0;
    height: 100%;
    padding-top: 50% !important;
    cursor: pointer;
}

.bottom-menu-item .ProductDetails:hover, #SimilarProductsByCustomerViews .ProductDetails:hover {
    opacity:1;
}

.bottom-menu-item .ProductDetails strong a {
    color: #ffffff;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-family: 'Francois One';
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
}

#SimilarProductsByCustomerViews .ProductDetails strong a {
    color: #ffffff;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-family: 'Francois One';
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.bottom-menu-item .ProductDetails p em, #SimilarProductsByCustomerViews .ProductDetails p em {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

#new-arrivals-default {
    text-align:center;
}

.btn.alt {
    background-color: #333333;
}

.btn.alt:hover {
    background-color: #666666;
}


.icon-add {
    background-color: #666666;
}

.YourAccount a {
    color: #333333 !important;
    font-family: 'Francois One';
}

#ModalContainer {
    z-index: 100000 !important;;
}

.fastCartBottom {
    display: none;
}


.grid__item {
    font-size: 18px;
}



.productlist-page .Content {
    overflow: visible;
}

.ProductPrice {
    color: #000000 !important;
    font-size: 36px !important;
    text-shadow: none !important;
    line-height:30px;
}

#popup-search-box {
    display: none;
}

.CategoryPagination {
    font-size: 20px !important;
    padding-top: 20px !important;
    text-transform: uppercase;
}

#SearchForm {
    width: 19%;
}

.footer-section2 p a {
    color: #333333 !important;
}

.footer-section2 p a:hover {
    color: #333333 !important;
}

.FormFieldLabel {
    font-size: 18px;
}

.form dt {
    font-size: 18px;
}

.FormContainer dt {
    font-size: 18px;
}

.QuickSearchResultName a {
    color: #000000 !important;
    font-size:20px !important;
}

#SideAccountMenu li {
    text-transform: uppercase;
}

.txt24 {
    font-weight: normal !important;
}

#SearchPage .ProductDetails a {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
}

#SearchPage .ProductDescription {
    font-size: 18px;
}

.ProductCompareButton {
    display: none;
}

.ProductPriceRating {
    display: none;
}

.QuickViewBtn {
    font-family: 'Francois One';
    text-transform: uppercase;
}

.CompareButtonContainer {
    display: none;
}

#SearchTabsList {
    display: none;
}

#SearchResultsCategoryAndBrand {
    display: none;
}

.PageContent {
    padding-left: 15px;
    padding-top: 90px;
}

.footer .pages-menu li {
    padding-left: 5px;
    padding-right: 5px;
}

