
/* === QuickView Styles Start === */

/* QuickView start */
.QuickViewBtn a, .QuickViewBtn a:hover {
    text-decoration: none !important;
}
.QuickViewBtn {
    background: #000; /* old browsers */
    background: rgba(0,0,0,.7);
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    color: #fff;
    left: 20%;
    right: 20%;
}

/* QuickView end */

/* QuickView modal window start */
#ModalContainer.QuickViewModal {
    border: 0px solid #333;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
}

#ModalContainer.QuickViewModal .modalData {
    height: 100%;
}

#ModalContainer.QuickViewModal .ModalTitle {
    display: none!important;
}

#ModalContainer.QuickViewModal .ModalContent {
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}
.QuickViewModal .modalClose{
    right: 10px!important;
    top: 12px!important;
}

.QuickViewModal .addToCart .Button{
    margin-right: 5px;
}
 #QuickViewProductDetails .s-price .Label,
 #QuickViewProductDetails .s-price .Value{
    float: left;
}

html.javascript .productOptionViewRectangle .option label {
    border: 1px solid #d6d6d6; /* template colour */
}

/* highlighting of the border for the currently selected rectangle value */
html.javascript .productOptionViewRectangle .selectedValue label {
    background: #6a6a6a!important;
    color: #ffffff!important;
    border: 1px solid #6a6a6a;
}

/* QuickView modal window end */

/* QuickView top nav panel start */

#QuickViewTopNav {
    background-color: #DDDDDD;
    line-height: 20px;
    padding: 5px 10px;
}

#QuickViewFacebookContainer, #QuickViewShareLabel, #QuickViewShareLinksContainer {
    height: 20px;
    float: none;
    clear: both;
    text-align: center;
}

.addthis_default_style
.addthis_separator, .addthis_default_style .at300b,
.addthis_default_style .at300bo, .addthis_default_style .at300m,
.addthis_default_style .at300bs {
display: inline-block;
*display: inline;
zoom: 1;
float: none;
margin: 0 2px;
}


#QuickViewTopNav .facebookLikeBtn {
    width: 80px;
    height:22px;
}

#QuickViewTopNav .facebookRecommendBtn {
    width: 125px;
    height:22px;
}

#QuickViewTopNavReviews, #QuickViewTopNavRating {
    margin-left: 7px;
    float: left!important;
}

#QuickViewTopNavRating img {
    width: 13px;
    height: 13px;
    margin-top: 3px;
}
#QuickViewShareLinksContainer{
    padding: 15px;
}
#QuickViewFacebookContainer{
    padding: 0 15px;
}

/* QuickView top nav panel end */

/* QuickView content start */

#QuickViewContent {
    margin: 0 auto;
    position: relative;
}

.ProductThumbImage {
    overflow: hidden;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}

.qprod{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

#QuickViewImage img{
    max-height: 400px;
    max-width: 100%;
    width: auto!important;
    height: auto!important;
}

.scrollContainer table tbody tr td{
    margin: 0;
}

.scrollContainer td.none .image{
    display: none;
}
/* QuickView content end */

/* QuickView product details start */

#QuickViewProductDetails {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 50%;
    position: relative;
}
#QuickViewProductDetails h4 {
    padding: 0;
}

#QuickViewProductDetails div.productAttributeFluidWidth {
    width: auto !important;
}

#QuickViewProductDetails table.productDetails {
    text-align: left;
    vertical-align: top;
    border: none;
    padding: 0;
    margin: 0;
    width: 99%;
}

#QuickViewProductDetails .ProductAddToCart ul,
#QuickViewProductDetails .ProductAddToCart ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#QuickViewProductDetails .required,
#QuickViewProductDetails .Required {
    color: red;
    display: block;
    position: absolute;
    top: 0px;
    left: -10px;
}

.leftPanel{
    clear: both;
}

/* QuickView product details start */

/* QuickView buttons start */

#QuickViewProductDetails button {

    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    line-height: 18px;
    font-size: 11px;

    color: #444;
    display: inline-block;

    padding: 3px 8px;

    background: #F3F3F3;
    border: solid 1px #D9D9D9;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    -webkit-transition: border-color .20s;
    -moz-transition: border-color .20s;
    -o-transition: border-color .20s;
    transition: border-color .20s;

    vertical-align: middle;
    cursor: pointer;

}

#QuickViewProductDetails button:hover {
    background: #fff;
    border-color: #C0C0C0;
    color: #333;
}

#QuickViewProductDetails button:active {
    border-color: #4D90FE;
    color: #4D90FE;

    -moz-box-shadow:inset 0 0 10px #D4D4D4;
    -webkit-box-shadow:inset 0 0 10px #D4D4D4;
    box-shadow:inset 0 0 10px #D4D4D4;
}

#QuickViewProductDetails button.blue {

    color: #fff;
    border: 1px solid #3079ED !important;

    background: #4B8DF8;
    background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
    background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
    background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
    background: -o-linear-gradient(top, #4C8FFD, #4787ED);

    -webkit-transition: border .20s;
    -moz-transition: border .20s;
    -ms-transition: border .20s;
    -o-transition: border .20s;
    transition: border .20s;
}

#QuickViewProductDetails button.blue:hover {
    border: 1px solid #2F5BB7 !important;

    background: #3F83F1;
    background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
    background: -moz-linear-gradient(top, #4D90FE, #357AE8);
    background: -ms-linear-gradient(top, #4D90FE, #357AE8);
    background: -o-linear-gradient(top, #4D90FE, #357AE8);
}

#QuickViewProductDetails button.addToCart {
    text-transform: uppercase;
    font-weight: bold;
}

#QuickViewProductDetails .addToCart {
    vertical-align: middle;
}

/* QuickView buttons end */

#ProductDetails div.dateselector {
    display: inline;
}

#uniform-qty_ {
width: 75px !important;
}
/* === QuickView Styles End === */
