/* this file provides theme-specific styles that affect the carousel
 *
 * these changes have been placed in a separate file because they are included
 * in the control panel when the carousel is being previewed
 *
 * they cannot be included in slide-show.css because that is compiled
 * automatically from slide-show.scss */

/* fixes incorrect width created by the `slide' transition in the admin preview
 * modal */

.new-slide-container{
}

.slick-next {
  width: 30px;
  height: 30px;
  right:-40px;
  display: block;
  background: url(//cdn3.bigcommerce.com/r-2b5da000bcac2ce142e099ba8093da276f6d40a0/themes/Aberdeen/images/bg_direction_nav.png) no-repeat -30px 0px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease;
  border:none;
    margin-top:-20px;
}

.slick-prev {
  width: 30px;
  height: 30px;
    left:-40px;
  display: block;
  background: url(//cdn3.bigcommerce.com/r-2b5da000bcac2ce142e099ba8093da276f6d40a0/themes/Aberdeen/images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease;
    border:none;
    margin-top:-20px;
}

.slick-next:hover,.slick-next:hover{
    opacity:.6;
}

.slick-dots{
    text-align:center;
    margin: 0 auto;
    margin-top:20px;
}

.slick-dots li{
    display: inline-block;
    list-style: none;
    padding: 5px !important;
    -o-transition:all ease .6s;
    -moz-transition:all ease .6s;
    -webkit-transition:all ease .6s;
    transition: all ease .6s;
}

.slick-dots li button{
    width: 11px;
  height: 11px;
  display: block;
  background: #666;
  opacity:0.5;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border:none;
    -o-transition:all ease .6s;
    -moz-transition:all ease .6s;
    -webkit-transition:all ease .6s;
    transition: all ease .6s;
}

.slick-dots li button:hover{
  background: white;
  opacity:0.5;
    border:none;
}
.slick-dots li.slick-active{
background: white;
  opacity:0.5;
}

.slide-content{
    position:relative;
}
.slide-show .slide-overlay{
      position: absolute;
   bottom: 0; 
   left: 0; 
   right: 0; 
  top: 35%; 
   text-align: center; 
}

.Content.Widest{
    overflow: inherit;
}
